---
/**
 * Get Started - Landing Page (Early Adopters Program)
 *
 * Helps early adopter teams start using the experimental (pre-production)
 * version of the design system. Content from Confluence (Brief 65).
 */
import DocumentationPageLayout from '../../layouts/DocumentationPageLayout.astro';
---

<DocumentationPageLayout
  title="Early adopters program: Get started"
  description="Get started with the experimental version of the GoA Design System"
  section="get-started"
>
  <goa-text version="2" size="heading-xl" mt="none" mb="m">Early adopters program: Get started</goa-text>
  <goa-text version="2" size="body-l" mt="none" mb="2xl">
    This page helps early adopter teams start using the experimental (pre-production) version of
    the design system.
  </goa-text>

  <goa-callout version="2" type="information" emphasis="low" heading="What &quot;experimental&quot; means" mb="m">
    DS 2.0 pre-production components and templates available for early adopters to use and test
    before the production release. Properties and visual design may change as the library
    receives feedback and matures.
    <br /><br />
    Early adopters should expect more change (and occasional rough edges) than production assets.
  </goa-callout>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="choose-your-path">Choose your path</h2>

  <goa-container version="2" type="non-interactive" accent="thick" padding="compact" mb="m">
    <span slot="title">A: Upgrade an existing service</span>
    Best if your team wants to use DS 2.0 experimental components and templates to update an
    existing product to the new look and feel. This gives you a head start on migration and
    produces the most actionable feedback.
  </goa-container>

  <goa-container version="2" type="non-interactive" accent="thick" padding="compact" mb="m">
    <span slot="title">B: Build a new service</span>
    Best if your team is starting a new product or major feature and wants to build with DS 2.0
    from the beginning. This is the cleanest path (no updating custom elements).
  </goa-container>

  <goa-container version="2" type="non-interactive" accent="thick" padding="compact" mb="m">
    <span slot="title">C: Test in a sample project</span>
    Best if your team wants to get a high level understanding of how DS 2.0 works and test the
    setup process.
  </goa-container>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="before-you-start">Before you start</h2>

  <goa-callout version="2" type="important" emphasis="low" mb="m">
    Be on the latest version of the current next branch of the design system before
    attempting the experimental update.
  </goa-callout>
  <goa-text version="2" size="heading-xs" mt="none" mb="s">Minimum versions</goa-text>
  <goa-text version="2" size="body-m" mt="none" mb="m">
    <ul>
      <li>Angular: <a href="https://www.npmjs.com/package/@abgov/angular-components/v/4.10.0-next.1" target="_blank">4.10.0-next.1</a> or later</li>
      <li>React: <a href="https://www.npmjs.com/package/@abgov/react-components/v/6.10.0-next.1" target="_blank">6.10.0-next.1</a> or later</li>
      <li>Web: <a href="https://www.npmjs.com/package/@abgov/web-components/v/1.40.0-next.1" target="_blank">1.40.0-next.1</a> or later</li>
      <li>ui-components-common: <a href="https://www.npmjs.com/package/@abgov/ui-components-common/v/1.10.0-next.1" target="_blank">1.10.0-next.1</a> or later</li>
    </ul>
  </goa-text>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="getting-help">Getting help and reporting issues</h2>
  <goa-text version="2" size="body-m" mt="none" mb="m">
    Use the <a href="https://goa-dio.slack.com/archives/C0A9SN3JM7E" target="_blank"><strong>#design-system-early-adopters</strong></a> Slack channel first so the whole
    cohort can learn from questions and answers, and so the design system team can ask
    clarifying questions before a GitHub issue is created.
  </goa-text>
  <goa-text version="2" size="body-m" mt="none" mb="m">
    When reporting an issue, include any relevant screenshots, links, version details, or
    reproduction steps.
  </goa-text>
  <goa-callout version="2" type="important" emphasis="low" mb="m">
    Avoid DMs to individual design system team members, use the Slack channel so all
    participants can benefit from the questions and answers.
  </goa-callout>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="useful-links">Useful links</h2>
  <goa-block version="2" gap="s" direction="column">
    <goa-link version="2"><a href="/get-started/designers">Designers: Get started</a></goa-link>
    <goa-link version="2"><a href="/get-started/developers">Developers: Get started</a></goa-link>
    <goa-link version="2"><a href="#">Workspace template repo</a></goa-link>
    <goa-link version="2"><a href="#">Deployed workspace demo</a></goa-link>
    <goa-link version="2"><a href="https://goa-dio.slack.com/archives/C0A9SN3JM7E" target="_blank">Early adopter Slack channel</a></goa-link>
    <goa-block version="2" gap="s" direction="row" alignment="center">
      <goa-link version="2"><a href="#">Book Drop-in hours</a></goa-link>
      <goa-text version="2" size="body-s" mt="none" mb="none">(Tuesday and Friday 1-3 PM MST)</goa-text>
    </goa-block>
  </goa-block>
</DocumentationPageLayout>
