<goa-microsite-header level="alpha" version="UAT"></goa-microsite-header>

<goa-app-header url="http://google.com" title="Design Systems">
</goa-app-header>

<div class="container">
  <div class="navigation-bar">
    <nav>
      <app-navigation-link label="Button" path="/button"></app-navigation-link>
      <app-navigation-link
        label="Checkbox"
        path="/checkbox"
      ></app-navigation-link>
      <app-navigation-link label="Radio" path="/radio"></app-navigation-link>
      <app-navigation-link
        label="Dropdown"
        path="/dropdown"
      ></app-navigation-link>
      <app-navigation-link label="Input" path="/input"></app-navigation-link>
      <app-navigation-link
        label="TextArea"
        path="/textarea"
      ></app-navigation-link>
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
