<goa-two-column-layout maxcontentwidth="1400px" navcolumnwidth="30ch">
  <section slot="header">
    <goa-microsite-header
      type="alpha"
      level="alpha"
      version="UAT"
    ></goa-microsite-header>
    <goa-app-header heading="Design Systems" maxcontentwidth="1400px">
      <a href="#">Support</a>
      <goa-app-header-menu heading="Tickets" leadingIcon="ticket">
        <a href="#">Cases</a>
        <a href="#">Payments</a>
        <a href="#">Outstanding</a>
      </goa-app-header-menu>
      <a href="#" className="interactive">Sign in</a>
    </goa-app-header>
  </section>

  <section slot="nav">
    <goa-side-menu>
      <goa-side-menu-group heading="Components">
        <a routerLink="/accordion"> Accordion </a>
        <a routerLink="/app-footer"> AppFooter </a>
        <a routerLink="/app-header"> App Header </a>
        <a routerLink="/badge"> Badge </a>
        <a routerLink="/button"> Button </a>
        <a routerLink="/button-group"> Button Group </a>
        <a routerLink="/callout"> Callout </a>
        <a routerLink="/checkbox"> Checkbox </a>
        <a routerLink="/chip"> Chip </a>
        <a routerLink="/circular-progress"> Circular Progress </a>
        <a routerLink="/container"> Container </a>
        <a routerLink="/dropdown"> Dropdown </a>
        <a routerLink="/detail"> Detail </a>
        <a routerLink="/file-upload"> File Upload </a>
        <a routerLink="/form-item"> Form Item </a>
        <a routerLink="/form-stepper"> Form Stepper </a>
        <a routerLink="/hero-banner"> Hero Banner </a>
        <a routerLink="/icon"> Icon </a>
        <a routerLink="/icon-button"> Icon Button </a>
        <a routerLink="/input"> Input </a>
        <a routerLink="/microsite-header"> Microsite header </a>
        <a routerLink="/modal"> Modal </a>
        <a routerLink="/notification-banner"> Notification Banner </a>
        <a routerLink="/paginate"> Pagination </a>
        <a routerLink="/popover"> Popover </a>
        <a routerLink="/radio"> Radio </a>
        <a routerLink="/skeleton"> Skeleton </a>
        <a routerLink="/table"> Table </a>
        <a routerLink="/textarea"> TextArea </a>
        <a routerLink="/tabs"> Tabs </a>
      </goa-side-menu-group>
      <goa-side-menu-group heading="Utils">
        <a routerLink="/spacing"> Spacing </a>
        <a routerLink="/grid"> Grid </a>
        <a routerLink="/styles"> Styles </a>
      </goa-side-menu-group>
      <goa-side-menu-group heading="Layouts">
        <a routerLink="/two-column-layout"> Two Column Layout </a>
        <a routerLink="/three-column-layout"> Three Column Layout </a>
      </goa-side-menu-group>
    </goa-side-menu>
  </section>

  <router-outlet></router-outlet>

  <goa-app-footer slot="footer" maxcontentwidth="1400px"></goa-app-footer>
</goa-two-column-layout>
