<goa-two-column-layout maxcontentwidth="1400px" navcolumnwidth="30ch">
  <section slot="header">
    <goa-microsite-header level="alpha" version="UAT"></goa-microsite-header>
    <goa-app-header
      heading="Design Systems"
      maxcontentwidth="1400px"
    ></goa-app-header>
  </section>

  <section slot="nav">
    <abgov-navigation-link
      label="Button"
      path="/button"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Checkbox"
      path="/checkbox"
    ></abgov-navigation-link>
    <abgov-navigation-link label="Radio" path="/radio"></abgov-navigation-link>
    <abgov-navigation-link
      label="Dropdown"
      path="/dropdown"
    ></abgov-navigation-link>
    <abgov-navigation-link label="Input" path="/input"></abgov-navigation-link>
    <abgov-navigation-link
      label="TextArea"
      path="/textarea"
    ></abgov-navigation-link>
    <abgov-navigation-link label="Modal" path="/modal"></abgov-navigation-link>
    <abgov-navigation-link
      label="AppFooter"
      path="/app-footer"
    ></abgov-navigation-link>
    <abgov-navigation-link label="Badge" path="/badge"></abgov-navigation-link>
    <abgov-navigation-link
      label="Callout"
      path="/callout"
    ></abgov-navigation-link>
    <abgov-navigation-link label="Chip" path="/chip"></abgov-navigation-link>
    <abgov-navigation-link
      label="Circular progress"
      path="/circular-progress"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Hero Banner"
      path="/hero-banner"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="App Header"
      path="/app-header"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Microsite header"
      path="/microsite-header"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Container"
      path="/container"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Skeleton"
      path="/skeleton"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Form Item"
      path="/form-item"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Two column layout"
      path="/two-column-layout"
    ></abgov-navigation-link>
    <abgov-navigation-link
      label="Icon Button"
      path="/icon-button"
    ></abgov-navigation-link>
  </section>

  <router-outlet></router-outlet>

  <goa-app-footer slot="footer" maxcontentwidth="1400px"></goa-app-footer>
</goa-two-column-layout>
