<h3>Icons in Tooltip</h3>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" theme="filled"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon
    type="accessibility"
    size="large"
    theme="filled"
    fillColor="blue"
  ></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" theme="filled"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon
    type="information-circle"
    size="large"
    theme="filled"
    fillColor="blue"
  ></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="add"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="add" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<h3>Custom Icons in Tooltip</h3>
<goab-tooltip content="Tooltip"><goab-icon type="pencil"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" theme="filled"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="large" theme="filled" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="checkmark"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="checkmark" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="remove"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="remove" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-file"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-file" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-text"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-text" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-pdf"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-pdf" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-doc"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-doc" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-ppt"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-ppt" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-xls"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-xls" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-zip"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-zip" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-video"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-video" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-audio"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-audio" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"><goab-icon type="goa-image"></goab-icon></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<h3>Icon sizes</h3>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="2xsmall"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="xsmall"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="small"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="medium"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="large"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="information-circle" size="xlarge"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="2xsmall" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="xsmall" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="small" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="medium" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="accessibility" size="xlarge" fillColor="blue"></goab-icon
></goab-tooltip>
<h3>Custom icon sizes</h3>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="2xsmall"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="xsmall"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="small"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="medium"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="large"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="pencil" size="xlarge"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="2xsmall" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="xsmall" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="small" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="medium" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="large" fillColor="blue"></goab-icon
></goab-tooltip>
<goab-tooltip content="Tooltip"
  ><goab-icon type="goa-image" size="xlarge" fillColor="blue"></goab-icon
></goab-tooltip>
