<h1>Skeleton</h1>

<h2>Text</h2>
<goab-skeleton type="text"></goab-skeleton>
<goab-skeleton type="text"></goab-skeleton>
<goab-skeleton type="text"></goab-skeleton>
<goab-skeleton type="text"></goab-skeleton>

<h2>Paragraph</h2>
<goab-skeleton type="paragraph"></goab-skeleton>

<h2>Small text</h2>
<goab-skeleton type="text-small"></goab-skeleton>
<goab-skeleton type="text-small" size="2"></goab-skeleton>
<goab-skeleton type="text-small" size="3"></goab-skeleton>
<goab-skeleton type="text-small" size="4"></goab-skeleton>

<h2>Cards</h2>
<goab-skeleton type="card"></goab-skeleton>
<goab-skeleton type="card" size="2"></goab-skeleton>
<goab-skeleton type="card" size="3"></goab-skeleton>
<goab-skeleton type="card" size="4"></goab-skeleton>

<h2>Avatars</h2>
<goab-skeleton type="avatar"></goab-skeleton>
<goab-skeleton type="avatar" size="2"></goab-skeleton>
<goab-skeleton type="avatar" size="3"></goab-skeleton>
<goab-skeleton type="avatar" size="4"></goab-skeleton>

<h2>Headers</h2>
<goab-skeleton type="header"></goab-skeleton>
<goab-skeleton type="header" size="2"></goab-skeleton>
<goab-skeleton type="header" size="3"></goab-skeleton>
<goab-skeleton type="header" size="4"></goab-skeleton>

<h2>Thumbnails</h2>
<goab-skeleton type="thumbnail"></goab-skeleton>
<goab-skeleton type="thumbnail" size="2"></goab-skeleton>
<goab-skeleton type="thumbnail" size="3"></goab-skeleton>
<goab-skeleton type="thumbnail" size="4"></goab-skeleton>

<h2>Profiles</h2>
<goab-skeleton type="profile"></goab-skeleton>
<goab-skeleton type="profile" size="2"></goab-skeleton>
<goab-skeleton type="profile" size="3"></goab-skeleton>
<goab-skeleton type="profile" size="4"></goab-skeleton>

<h2>Margin Spacing</h2>
<goab-skeleton mt="m" mb="xs" ml="xl" mr="2xl" type="text"></goab-skeleton>