<h1>Form Stepper</h1>

<h4>Free</h4>

<goab-form-stepper ml="s" mr="s" [step]="freeStep" (onChange)="updateFreeStep($event)">
  <goab-form-step text="Personal details" [status]="status[0]"></goab-form-step>
  <goab-form-step text="Employment history" [status]="status[1]"></goab-form-step>
  <goab-form-step text="References" [status]="status[2]"></goab-form-step>
  <goab-form-step text="Review" [status]="status[3]"></goab-form-step>
</goab-form-stepper>
<goab-pages [current]="freeStep">
  <div>Page 1 content</div>
  <div>Page 2 content</div>
  <div>Page 3 content</div>
  <div>Page 4 content</div>
</goab-pages>
<div style="display: flex; justify-content: space-between">
  <goab-button (onClick)="setFreePage(freeStep - 1)" type="secondary">Previous</goab-button>
  <goab-button (onClick)="setFreePage(freeStep + 1)" type="primary">Next</goab-button>
</div>

<h4>Contrained</h4>

<goab-form-stepper ml="s" mr="s" [step]="constrainedStep" (onChange)="updateConstrainedStep($event)">
  <goab-form-step text="Personal details" [status]="status[0]"></goab-form-step>
  <goab-form-step text="Employment history" [status]="status[1]"></goab-form-step>
  <goab-form-step text="References" [status]="status[2]"></goab-form-step>
  <goab-form-step text="Review" [status]="status[3]"></goab-form-step>
</goab-form-stepper>
<goab-pages [current]="constrainedStep">
  <div>Page 1 content</div>
  <div>Page 2 content</div>
  <div>Page 3 content</div>
  <div>Page 4 content</div>
</goab-pages>
<div style="display: flex; justify-content: space-between">
  <goab-button (onClick)="setConstrainedPage(constrainedStep - 1)" type="secondary">Previous</goab-button>
  <goab-button (onClick)="setConstrainedPage(constrainedStep + 1)" type="primary">Next</goab-button>
</div>