.case-file-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--goa-space-m);
}

h3.review-h3 {
  margin-bottom: var(--goa-space-m);
}
label.review-label {
  font: var(--goa-typography-body-s);
  color: var(--goa-color-text-secondary);
}
.review-content {
  font: var(--goa-typography-body-m);
}
p.review-content {
  margin-bottom: 0;
}
h5.review-h5 {
  font: var(--goa-typography-body-m);
  color: var(--goa-color-text-secondary);
  margin-top: var(--goa-space-m);
  margin-bottom: var(--goa-space-m);
}
h6.review-h6 {
  font: var(--goa-typography-heading-s);
  margin-top: 0;
  margin-bottom: 0;
}
