<div class="buttons">
    <button goa-button (click)="showCheckbox = !showCheckbox">Checkbox</button>
    <button goa-button (click)="showDropdown = !showDropdown">Dropdown</button>
    <button goa-button (click)="showHeader = !showHeader">Header</button>
    <button goa-button (click)="showMicrositeLogo = !showMicrositeLogo">Microsite Logo</button>
    <button goa-button (click)="showCallout = !showCallout">Callout</button>
    <button goa-button (click)="showNotificationBanner = !showNotificationBanner">Notification Banner</button>
    <button goa-button (click)="showCard = !showCard">Card</button>
    <button goa-button (click)="showRadio = !showRadio">Radio</button>
</div>
<div class="components">
    <div *ngIf="showCheckbox === true">
        <checkbox-sample></checkbox-sample>
    </div>
    <div *ngIf="showDropdown === true">
        <dropdown-sample></dropdown-sample>
    </div>
    <div *ngIf="showHeader === true">
        <header-sample></header-sample>
    </div>
    <div *ngIf="showMicrositeLogo === true">
        <microsite-logo-sample></microsite-logo-sample>
    </div>
    <div *ngIf="showCallout === true">
        <callout-sample></callout-sample>
    </div>
    <div *ngIf="showNotificationBanner === true">
        <notification-banner-sample></notification-banner-sample>
    </div>
    <div *ngIf="showCard === true">
        <card-sample></card-sample>
    </div>
    <div *ngIf="showRadio === true">
        <radios-sample></radios-sample>
  </div>
</div>
