---
/**
 * Foundations - Brand guidelines
 *
 * Brand guidance and supporting resources for Government of Alberta digital products.
 * Content adapted from Confluence export:
 * Foundations - Brand guidelines.
 */
import DocumentationPageLayout from '../../layouts/DocumentationPageLayout.astro';
import FoundationsSupportCallout from '../../components/FoundationsSupportCallout.astro';
---

<DocumentationPageLayout
  title="Brand guidelines"
  description="Brand guidance resources from Communications and Public Engagement for Government of Alberta digital products"
  section="foundations"
>
  <goa-text size="heading-xl" mt="none" mb="m">Brand guidelines</goa-text>
  <goa-text size="body-l" mt="none" mb="2xl">
    Communications and Public Engagement (CPE) plays an important role in providing and maintaining
    brand identity guidelines across the Government of Alberta. These guidelines ensure all digital
    products are consistent and easily recognizable, building trust with users.
  </goa-text>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="brand-guidelines-resources">Brand guidelines resources</h2>
  <goa-text size="body-m" mt="none" mb="m">
    The DDD design system follows brand guidelines defined by Communications and Public Engagement.
    Additional guidelines and resources offered by CPE should also be followed and designers within
    DDD should use these resources as needed.
  </goa-text>
  <goa-text size="body-m" mt="none" mb="xl">
    For more details on additional guidelines and styles adopted from CPE, please explore the
    following links:
  </goa-text>

  <h3 id="iconography">Iconography</h3>
  <goa-text size="body-m" mt="none" mb="xl">
    Besides the icon guidelines and sets provided by DDD&apos;s design system, designers can use
    CPE&apos;s
    <goa-link trailingicon="open">
      <a href="https://corporateidentity.alberta.ca/goaaccess/icongen/" target="_blank" rel="noopener noreferrer"
        >icon generator</a
      >
    </goa-link>. This is particularly useful when icons need a more detailed or illustrative style.
  </goa-text>

  <h3 id="photography">Photography</h3>
  <goa-text size="body-m" mt="none" mb="xl">
    Government of Alberta digital products must follow the photography guidelines set by CPE. For
    guidance, see
    <goa-link trailingicon="open">
      <a
        href="https://open.alberta.ca/dataset/ed5f57ac-9484-4f8c-94ed-99a808fa2248/resource/24dc41ac-5a8e-46ea-8e67-12c568d4a654/download/cpe-visual-identity-manual-edition-26-2024.pdf"
        target="_blank"
        rel="noopener noreferrer">CPE&apos;s visual identity manual</a
      >
    </goa-link>.
  </goa-text>

  <h3 id="content">Content</h3>
  <goa-text size="body-m" mt="none" mb="xl">
    When creating content for web interfaces, refer to the
    <goa-link trailingicon="open">
      <a href="https://www.alberta.ca/digital-experience-standard" target="_blank" rel="noopener noreferrer"
        >content guides</a
      >
    </goa-link>
    section on the digital experience standards page on
    <goa-link trailingicon="open">
      <a href="https://www.alberta.ca" target="_blank" rel="noopener noreferrer">Alberta.ca</a>
    </goa-link>.
  </goa-text>

  <h3 id="compliance-and-policies">Digital experience standard compliance and policies</h3>
  <goa-text size="body-m" mt="none" mb="m">
    CPE&apos;s digital experience standard helps ensure that digital products meet required
    governance and standards. Refer to the links below to ensure your digital products comply with
    Government of Alberta policies:
  </goa-text>
  <goa-text size="body-m" mt="none" mb="m">
    <ul>
      <li>
        <goa-link trailingicon="open">
          <a href="https://www.alberta.ca/design-standards-checklist" target="_blank" rel="noopener noreferrer"
            >Design standards checklist</a
          >
        </goa-link>
      </li>
      <li>
        <goa-link trailingicon="open">
          <a
            href="https://open.alberta.ca/dataset/9445cded-704a-430b-85e9-bdbbeacda221/resource/42414d03-9ded-4031-aa79-c9cd3568138f/download/goa-web-governance-policy-final-2022.pdf"
            target="_blank"
            rel="noopener noreferrer">Web governance policy</a
          >
        </goa-link>
      </li>
      <li>
        <goa-link trailingicon="open">
          <a
            href="https://open.alberta.ca/dataset/6c3579d7-b44a-4cc9-bdaa-a00f38c06aad/resource/cef159d1-520e-4f4b-a4b0-40e1e90cd0b0/download/communications-policy.pdf"
            target="_blank"
            rel="noopener noreferrer">Communications policy</a
          >
        </goa-link>
      </li>
      <li>
        <goa-link trailingicon="open">
          <a
            href="https://open.alberta.ca/dataset/afb907e6-eb1b-4bb6-a4bc-659582a1038e/resource/3a1b9758-d3b2-46ef-be59-cc07351ee59c/download/cpe-goa-identitypolicy-2019-reissue.pdf"
            target="_blank"
            rel="noopener noreferrer">Government identity policy</a
          >
        </goa-link>
      </li>
    </ul>
  </goa-text>
  <goa-text size="body-m" mt="none" mb="xl">
    For questions regarding brand guidelines or information in the links above, reach out to CPE
    at <a href="mailto:visual@gov.ab.ca">visual@gov.ab.ca</a>.
  </goa-text>

  <FoundationsSupportCallout />
</DocumentationPageLayout>
