---
/**
 * Foundations - Landing Page
 *
 * Design foundations and experience guidelines for the Government of Alberta.
 * Content adapted from Confluence export:
 * Foundations - Design at GoA.
 */
import DocumentationPageLayout from "../../layouts/DocumentationPageLayout.astro";
import FoundationsSupportCallout from "../../components/FoundationsSupportCallout.astro";
---

<DocumentationPageLayout
  title="Foundations"
  description="Design foundations and user experience guidelines for Government of Alberta digital products"
  section="foundations"
>
  <goa-text size="heading-xl" mt="none" mb="m"
    >Design at the Government of Alberta</goa-text
  >
  <goa-text size="body-l" mt="none" mb="2xl">
    Citizens expect digital products that are modern, easy to use, and consistent. To meet
    these needs, our digital products must follow our user experience guidelines and
    should be tested frequently to make continuous improvement and stay relevant.
  </goa-text>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="user-experience-guidelines">User experience guidelines</h2>
  <goa-text size="body-m" mt="none" mb="m">
    Government of Alberta digital products will deliver an experience in alignment to the
    following guidelines:
  </goa-text>
  <goa-text size="body-m" mt="none" mb="l">
    <ul>
      <li>
        <strong>User-centered:</strong> Designed with a clear understanding of users, their
        goals, tasks, environments, and context of use, using user-centered design methods.
      </li>
      <li>
        <strong>Usable:</strong> Interfaces will be easy to use, enabling users to find the
        information they need and complete tasks successfully.
      </li>
      <li>
        <strong>Accessible:</strong> Digital products will be inclusive, ensuring usability
        for everyone, regardless of physical or cognitive ability.
      </li>
      <li>
        <strong>Trustworthy:</strong> Experiences will feel familiar and recognizable as a Government
        of Alberta product, ensuring users&apos; security and privacy.
      </li>
      <li>
        <strong>Modern:</strong> Digital experiences will meet present-day user expectations
        and preferences for aesthetics and interaction.
      </li>
    </ul>
  </goa-text>

  <goa-text size="body-m" mt="none" mb="xl">
    To get guidance on how to deliver an experience aligned with the guidelines, download
    the
    <goa-link trailingicon="open">
      <a
        href="https://abgov.sharepoint.com/:x:/r/sites/S600D27-DDDUXT/_layouts/15/Doc.aspx?sourcedoc=%7B00DD7555-4DF3-4F70-AA3A-8370E776E9C0%7D&file=Template%20-%20design%20release%20checklists%20.xlsx&action=default&mobileredirect=true"
        target="_blank"
        rel="noopener noreferrer">Design Release Checklist</a
      >
    </goa-link>.
  </goa-text>

  <goa-divider version="2" mt="xl" mb="xl"></goa-divider>

  <h2 id="usability-testing">Usability testing</h2>
  <goa-text size="body-m" mt="none" mb="m">
    Usability testing is our preferred method to ensure digital products meet our
    usability guidelines.
  </goa-text>
  <goa-text size="body-m" mt="none" mb="m">
    Effective usability testing includes:
  </goa-text>
  <goa-text size="body-m" mt="none" mb="l">
    <ul>
      <li>
        <strong>Diverse user group:</strong> Real users from different demographic, behavioural
        backgrounds, and geographical regions within Alberta that will experience the problem
        or benefit of the product.
      </li>
      <li>
        <strong>Inclusive testing:</strong> Users with various physical and/or cognitive abilities,
        literacy levels, and tech savviness.
      </li>
      <li>
        <strong>Device variety:</strong> A diverse range of devices that reflect users&apos;
        preferred choice when interacting with government services.
      </li>
      <li>
        <strong>Tasks:</strong> Activities that cover tasks and service process from end-to-end.
      </li>
    </ul>
  </goa-text>

  <goa-text size="body-m" mt="none" mb="m">
    Frequent usability testing is required to maintain product usability, effectiveness,
    and alignment to product and user needs as they evolve over time.
  </goa-text>
  <goa-text size="body-m" mt="none" mb="xl">
    For guidance on the process of usability testing, refer to
    <goa-link trailingicon="open">
      <a
        href="https://abgov.sharepoint.com/sites/S600D27-DDDUXT/SitePages/Understanding-Usability.aspx"
        target="_blank"
        rel="noopener noreferrer">Understanding Usability</a
      >
    </goa-link>.
  </goa-text>

  <FoundationsSupportCallout />
</DocumentationPageLayout>
