<h1>Radio</h1>

<h2>using onChange to update the value</h2>
<goab-radio-group (onChange)="handleRadioChange($event)" name="example-radio-group">
  <goab-radio-item value="option1" label="Option 1"></goab-radio-item>
  <goab-radio-item value="option2" label="Option 2"></goab-radio-item>
  <goab-radio-item value="option3" label="Option 3"></goab-radio-item>
</goab-radio-group>

<p>Selected Value: {{ selectedValue }}</p>

<h2>Using Reactive Form</h2>
<form [formGroup]="example2Form">
  <goab-radio-group formControlName="radioControl" name="example-radio-group">
    <goab-radio-item value="option1" label="Option 1"></goab-radio-item>
    <goab-radio-item value="option2" label="Option 2"></goab-radio-item>
    <goab-radio-item value="option3" label="Option 3"></goab-radio-item>
  </goab-radio-group>
</form>

<p>Selected Value: {{ example2Form.get('radioControl')?.value }}</p>

<h2>Using ngModel</h2>
<goab-radio-group [(ngModel)]="example3Value" name="example-radio-group">
  <goab-radio-item value="option1" label="Option 1"></goab-radio-item>
  <goab-radio-item value="option2" label="Option 2"></goab-radio-item>
  <goab-radio-item value="option3" label="Option 3"></goab-radio-item>
</goab-radio-group>

<p>Selected Value: {{ example3Value }}</p>

<hr/>
<h1>Other examples</h1>
<h2>Radio group with descriptions</h2>

<goab-radio-group name="color" [formControl]="reactiveFormCtrl">
  <goab-radio-item value="red" [description]="redDescription">
    <ng-template #redDescription>
      <span class="customized-description-title">Content description</span>
      <small> Another test?</small>
      <p>
        Help test
      </p>
    </ng-template>
  </goab-radio-item>
  <goab-radio-item value="blue" description="Item description"></goab-radio-item>
  <goab-radio-item value="orange">
    <div slot="description">
      <span class="customized-description-title">Content description</span>
      <small> Another test?</small>
      <p>
        Help test
      </p>
    </div>
  </goab-radio-item>
</goab-radio-group>

<h2>Basic</h2>
<goab-radio-group name="color" [value]="radioValue" (onChange)="onChange($event)">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Error</h2>
<goab-radio-group name="color1" value="orange" [error]="true">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Label</h2>
<goab-radio-group name="color2" value="orange">
  <goab-radio-item label="Red" value="red"></goab-radio-item>
  <goab-radio-item label="Blue" value="blue"></goab-radio-item>
  <goab-radio-item label="Orange" value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Disabled</h2>
<goab-radio-group name="color3" value="orange" [disabled]="true">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Orientation</h2>
<goab-radio-group name="color4" value="orange" orientation="horizontal">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Dynamic</h2>
<div *ngFor="let item of dynamicItems">
  <h4>{{ item.name }}</h4>
  <goab-radio-group [name]="item.name" [value]="item.value" (onChange)="onChange($event)">
    <goab-radio-item *ngFor="let option of item.options" [value]="option.value" [label]="option.value">
    </goab-radio-item>
  </goab-radio-group>
</div>

<h2>Binding</h2>

<h2>Margin Spacing</h2>
<goab-radio-group mt="m" mb="xs" ml="xl" mr="2xl" name="color" value="orange" (onChange)="onChange($event)">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Reactive Binding</h2>
<div>Selected value: {{ reactiveFormCtrl.value }}</div>
<goab-radio-group name="bindingColor" [formControl]="reactiveFormCtrl">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<h2>Reactive Binding - Disabled</h2>
<!-- FIXME: this isn't being disabled -->
<goab-radio-group name="color" [formControl]="reactiveFormCtrl" [attr.disabled]="true">
  <goab-radio-item value="red"></goab-radio-item>
  <goab-radio-item value="blue"></goab-radio-item>
  <goab-radio-item value="orange"></goab-radio-item>
</goab-radio-group>

<goab-form-item label="Basic" labelsize="large">
  <goab-radio-group name="item" value="1" (onChange)="onChange($event)">
    <goab-radio-item value="1" label="Label"></goab-radio-item>
    <goab-radio-item value="2" label="Label"></goab-radio-item>
    <goab-radio-item value="3" label="Label"></goab-radio-item>
  </goab-radio-group>
</goab-form-item>
