<h1>Checkbox</h1>

<h2>Basic</h2>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox1Checked"
  (_change)="onChange()"
>
</goa-checkbox>

<h2>Checked</h2>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox2Checked"
  (_change)="onChange2()"
></goa-checkbox>

<h2>Disabled</h2>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  disabled
></goa-checkbox>

<h2>Error</h2>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox3Checked"
  (_change)="onChange3()"
  error
></goa-checkbox>

<h2>Binding</h2>
<div>Binding: {{ bindingVal }}</div>
<goa-checkbox
  goaValue
  name="desserts"
  text="Ice Cream"
  value="IceCream"
  [(ngModel)]="bindingVal"
></goa-checkbox>

<div>Binding: {{ bindingNoVal }}</div>
<goa-checkbox
  goaValue
  name="desserts"
  text="Ice Cream"
  checked="true"
  [(ngModel)]="bindingNoVal"
></goa-checkbox>

<h2>Margin Spacing</h2>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox1Checked"
  (_change)="onChange()"
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
>
</goa-checkbox>

<h2>Reactive Binding</h2>
<div>Binding: {{ reactiveFormCtrl.value }}</div>
<goa-checkbox
  goaValue
  name="desserts"
  text="Ice Cream"
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
></goa-checkbox>

<h2>Reactive Binding [Disabled]</h2>
<goa-checkbox
  goaValue
  name="desserts"
  text="Ice Cream"
  [formControl]="reactiveFormCtrl"
  [attr.disabled]="true"
></goa-checkbox>

<h2>Reactive Binding - checked</h2>
<div>Binding: {{ testFormCtrl.value }}</div>
<goa-checkbox
  goaValue
  name="desserts"
  text="Ice Cream"
  [formControl]="testFormCtrl"
></goa-checkbox>

<div>Binding: {{ test1FormCtrl.value }}</div>
<button (click)="test1FormCtrl.setValue('checked')">
  Set Value to checked
</button>
<goa-checkbox
  goaChecked
  name="desserts"
  text="Ice Cream"
  [formControl]="test1FormCtrl"
></goa-checkbox>

<h2>Checkbox with description</h2>
<goa-checkbox
  goaChecked
  name="description"
  text="Checkbox with description"
  description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam dolor
  eligendi, ipsam sed beatae exercitationem inventore? Saepe ipsa reiciendis
  inventore quia, voluptatem a amet id possimus rerum ullam, fugiat eveniet."
>
</goa-checkbox>
