<h3>Basic</h3>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox1Checked"
  (_change)="onChange()"
>
</goa-checkbox>

<h3>Checked</h3>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox2Checked"
  (_change)="onChange2()"
></goa-checkbox>

<h3>Disabled</h3>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  disabled
></goa-checkbox>

<h3>Error</h3>
<goa-checkbox
  name="desserts"
  text="Ice Cream"
  value="10"
  [checked]="checkbox3Checked"
  (_change)="onChange3()"
  error
></goa-checkbox>
