<h1>Icon Button</h1>

<h2>Types</h2>
<goa-icon-button icon="airplane"></goa-icon-button>
<goa-icon-button icon="close"></goa-icon-button>
<goa-icon-button icon="refresh"></goa-icon-button>
<goa-icon-button icon="play-back"></goa-icon-button>

<h2>Sizes</h2>
<goa-icon-button icon="close" size="small"></goa-icon-button>
<goa-icon-button icon="close" size="medium"></goa-icon-button>
<goa-icon-button icon="close" size="large"></goa-icon-button>

<h2>Variant</h2>
<goa-icon-button icon="close" variant="color"></goa-icon-button>
<goa-icon-button icon="close" variant="nocolor"></goa-icon-button>

<h2>Title</h2>
<goa-icon-button icon="close" title="Close"></goa-icon-button>
<goa-icon-button icon="download" title="Download"></goa-icon-button>

<h2>Disabled</h2>
<goa-icon-button icon="close" disabled></goa-icon-button>
<goa-icon-button icon="download" disabled></goa-icon-button>
