@if (!isFullPage) {
  <div style="min-height: 100vh; display: flex; flex-direction: column">
    <section slot="header" id="top" class="width" role="header" style="flex: 0 0 auto">
      <goab-microsite-header type="alpha" version="UAT" />
      <goab-app-header heading="Testing Playground" [url]="baseHref"></goab-app-header>
    </section>

    <div
      style="display: flex; flex: 1 1 auto; min-height: calc(100vh - 10.1875rem)"
      [style.--goa-work-side-menu-height]="workSideMenuHeight"
    >
      <goab-work-side-menu
        heading="Testing Playground"
        [url]="baseHref"
        [open]="true"
        (onNavigate)="handleNavigate($event)"
        [primaryContent]="primaryTemplate"
        [secondaryContent]="tokenToggleTemplate"
      >
      </goab-work-side-menu>

      <ng-template #tokenToggleTemplate>
        <goab-work-side-menu-item
          [label]="'Switch to ' + (tokenMode === 'v1' ? 'V2' : 'V1') + ' tokens'"
          icon="swap-horizontal"
          [url]="tokenToggleUrl"
        ></goab-work-side-menu-item>
      </ng-template>

      <ng-template #primaryTemplate>
        <goab-work-side-menu-item
          label="All Components"
          [url]="baseHref + 'everything'"
          icon="list"
        ></goab-work-side-menu-item>
        <goab-work-side-menu-group icon="alert-circle" heading="Bugs">
          @for (route of bugRouteDefinitions; track route.path) {
            <goab-work-side-menu-item
              [label]="route.id + ' - ' + route.title"
              [url]="baseHref + route.path"
            ></goab-work-side-menu-item>
          }
        </goab-work-side-menu-group>
        <goab-work-side-menu-group icon="book" heading="Docs">
          @for (route of docsRouteDefinitions; track route.path) {
            <goab-work-side-menu-item
              [label]="route.title"
              [url]="baseHref + route.path"
            ></goab-work-side-menu-item>
          }
        </goab-work-side-menu-group>
        <goab-work-side-menu-group icon="star" heading="Features">
          @for (route of featureRouteDefinitions; track route.path) {
            <goab-work-side-menu-item
              [label]="route.id + ' - ' + route.title"
              [url]="baseHref + route.path"
            ></goab-work-side-menu-item>
          }
        </goab-work-side-menu-group>
      </ng-template>
      <section style="padding: 30px; width: 100%" role="main">
        <router-outlet></router-outlet>
      </section>
    </div>
    <section slot="footer" role="footer" style="flex: 0 0 auto">
      <goab-app-footer maxContentWidth="100%" />
    </section>
  </div>
}

@if (isFullPage) {
  <router-outlet></router-outlet>
}
