<div style="min-height: 100vh; display: flex; flex-direction: column">
  <section slot="header" class="width" role="header" style="flex: 0 0 auto">
    <goab-microsite-header type="alpha" version="UAT" />
    <goab-app-header>
      <a href="/">Home</a>
      <goab-app-header-menu heading="Insights">
        <a class="interactive" href="/bugs/bug2720">2878</a>
        <a href="/">Regional Insights</a>
        <a href="/">Occupational Insights</a>
      </goab-app-header-menu>
    </goab-app-header>
  </section>

  <div style="display: flex; flex: 1 1 auto">
    <section style="flex: 0 0 250px" role="nav">
      <goab-side-menu>
        <goab-side-menu-group heading="Bugs">
          <a href="/bugs/2152">2152</a>
          <a href="/bugs/2331">2331</a>
          <a href="/bugs/2393">2393</a>
          <a href="/bugs/2404">2404</a>
          <a href="/bugs/2408">2408</a>
          <a href="/bugs/2459">2459</a>
          <a href="/bugs/2473">2473</a>
          <a href="/bugs/2502">2502</a>
          <a href="/bugs/2529">2529</a>
          <a href="/bugs/2547">2547</a>
          <a href="/bugs/2655">2655</a>
          <a href="/bugs/2720">2720</a>
          <a href="/bugs/2721">2721</a>
          <a href="/bugs/2750">2750</a>
          <a href="/bugs/2768">2768</a>
          <a href="/bugs/2782">2782</a>
          <a href="/bugs/2789">2789</a>
          <a href="/bugs/2821">2821</a>
          <a href="/bugs/2837">2837</a>
          <a href="/bugs/2839">2839</a>
          <a href="/bugs/2849">2849</a>
          <a href="/bugs/2852">2852</a>
          <a href="/bugs/2878">2878</a>
          <a href="/bugs/2892">2892</a>
          <a href="/bugs/2922">2922</a>
          <a href="/bugs/2943">2943</a>
          <a href="/bugs/2948">2948</a>
          <a href="/bugs/2991">2991</a>
          <a href="/bugs/3072">3072</a>
          <a href="/bugs/3156">3156</a>
        </goab-side-menu-group>
        <a href="/everything">All Components</a>
        <goab-side-menu-group heading="Features">
          <a href="/features/1328">1328</a>
          <a href="/features/1547">1547</a>
          <a href="/features/1813">1813</a>
          <a href="/features/2361">2361</a>
          <a href="/features/2054">2054</a>
          <a href="/features/2267">2267</a>
          <a href="/features/2492">2492</a>
          <a href="/features/2682">2682</a>
          <a href="/features/2722">2722</a>
          <a href="/features/2730">2730</a>
          <a href="/features/2829">2829</a>
          <a href="/features/3102">3102</a>
        </goab-side-menu-group>
      </goab-side-menu>
    </section>
    <section style="padding: 30px; width: 100%" role="main">
      <router-outlet></router-outlet>
    </section>
  </div>
  <section slot="footer" role="footer" style="flex: 0 0 auto">
    <goab-app-footer maxContentWidth="100%" />
  </section>
</div>
