<h3>Basic</h3>
<goa-form-item id="fname" label="First name">
  <goa-input type="text"></goa-input>
</goa-form-item>

<br />
<h3>Optional</h3>
<goa-form-item label="Middle name" optional>
  <goa-input type="text"></goa-input>
</goa-form-item>

<br />
<h3>Help text</h3>
<goa-form-item label="First name" id="fname_text" helptext="Help text">
  <goa-input type="text"></goa-input>
</goa-form-item>

<br />
<h3>Required</h3>
<goa-form-item
  label="First name"
  error="First name is required"
  helptext="Help text"
  id ="fn_error"
>
  <goa-input type="text" error></goa-input>
</goa-form-item>

<br />
<h3>Form row</h3>
<goa-form-row gap="small">
  <goa-form-item
    label="First name"
    error="First name is required"
    helpText="Help text"
  >
    <goa-input
      name="firstName"
      error
      width="100%"
      showCounter="true"
      maxCharCount="20"
    ></goa-input>
  </goa-form-item>
  <goa-form-item
    label="Last name"
    error="Last name is required"
    helpText="Help text"
  >
    <goa-input name="lastName" error width="100%"></goa-input>
  </goa-form-item>
</goa-form-row>
