<h2>Side Menu</h2>
<goa-side-menu>
  <goa-side-menu-heading>Nav section 1</goa-side-menu-heading>
  <a href="#home">Home</a>
  <a href="#profile">Profile</a>
  <goa-side-menu-heading>Nav section 2</goa-side-menu-heading>
  <a href="#about">About</a>
  <a href="#contact">Contact</a>
  <goa-side-menu-group heading="Links">
    <goa-side-menu-heading>Nav section 3</goa-side-menu-heading>
    <a href="#foo">Foo</a>
    <a href="#bar">Bar</a>
    <goa-side-menu-group heading="More Links">
      <goa-side-menu-heading>Nav section 4</goa-side-menu-heading>
      <a href="#more-foo">More Foo</a>
      <a href="#more-bar">More Bar</a>
    </goa-side-menu-group>
  </goa-side-menu-group>
</goa-side-menu>
