<div>
  <h1>3541 - Checkbox cut off on the left side in modal</h1>
  <h2>Version 1</h2>
  <goab-button type="tertiary" leadingIcon="add" (onClick)="toggleModal()">Add another item</goab-button>
  <goab-modal [open]="open" (onClose)="toggleModal()" heading="Add a new item" [actions]="actions">
    <p>Fill in the information to create a new item</p>
    <goab-form-item label="Type" mt="l">
      <goab-dropdown (onChange)="updateType($event)" [value]="type">
        <goab-dropdown-item value="1" label="Option 1"></goab-dropdown-item>
        <goab-dropdown-item value="2" label="Option 2"></goab-dropdown-item>
      </goab-dropdown>
    </goab-form-item>
    <goab-form-item label="How would you like to be contacted?" helpText="Select one option" mt="l">
      <goab-radio-group name="contactMethodTwo" formControlName="contactMethodTwo">
        <goab-radio-item label="Email" description="Receive updates via email" value="email" [reveal]="emailReveal">
          <ng-template #emailReveal>
            <goab-form-item label="Email address">
              <goab-input name="email" formControlName="emailAddress"></goab-input>
            </goab-form-item>
          </ng-template>
        </goab-radio-item>
        <goab-radio-item value="phone" label="Phone" [reveal]="phoneReveal">
          <ng-template #phoneReveal>
            <goab-form-item label="Phone number">
              <goab-input name="phone" formControlName="phoneNumber"></goab-input>
            </goab-form-item>
          </ng-template>
        </goab-radio-item>
        <goab-radio-item value="text" label="Text message" [reveal]="textReveal">
          <ng-template #textReveal>
            <goab-form-item label="Mobile phone number">
              <goab-input name="mobile" formControlName="phoneNumber"></goab-input>
            </goab-form-item>
          </ng-template>
        </goab-radio-item>
      </goab-radio-group>
    </goab-form-item>
    <goab-form-item label="Select interests" mt="l">
      <goab-checkbox-list name="entryStatus">
        <goab-checkbox name="sports" text="Sports"></goab-checkbox>
        <goab-checkbox name="music" text="Music"></goab-checkbox>
        <goab-checkbox name="travel" text="Travel"></goab-checkbox>
        <goab-checkbox name="other" text="Other" [reveal]="phoneReveal">
          <ng-template #phoneReveal>
            <goab-form-item label="Please specify">
              <goab-input name="other" formControlName="other"></goab-input>
            </goab-form-item>
          </ng-template>
        </goab-checkbox>
      </goab-checkbox-list>
    </goab-form-item>
    <goab-form-item label="Name" mt="l">
      <goab-input name="name" width="100%" (onChange)="updateName($event)" [value]="name"></goab-input>
    </goab-form-item>
    <goab-form-item label="Description" mt="l">
      <goab-textarea name="description" width="100%" [rows]="3" (onChange)="updateDescription($event)" [value]="description"></goab-textarea>
    </goab-form-item>
    <ng-template #actions>
      <goab-button-group alignment="end">
        <goab-button type="tertiary" size="compact" (onClick)="toggleModal()">Cancel</goab-button>
        <goab-button type="primary" size="compact" (onClick)="toggleModal()">Save new item</goab-button>
      </goab-button-group>
    </ng-template>
  </goab-modal>

  <h2>Version 2</h2>
  <goabx-button type="tertiary" leadingIcon="add" (onClick)="toggleModalTwo()">Add another item</goabx-button>
  <goabx-modal [open]="openTwo" (onClose)="toggleModalTwo()" heading="Add a new item" [actions]="actionsTwo">
    <p>Fill in the information to create a new item</p>
    <goabx-form-item label="Type" mt="l">
      <goabx-dropdown (onChange)="updateType($event)" [value]="type">
        <goabx-dropdown-item value="1" label="Option 1"></goabx-dropdown-item>
        <goabx-dropdown-item value="2" label="Option 2"></goabx-dropdown-item>
      </goabx-dropdown>
    </goabx-form-item>
    <goabx-form-item label="How would you like to be contacted?" helpText="Select one option" mt="l">
      <goabx-radio-group name="contactMethodTwo" formControlName="contactMethodTwo">
        <goabx-radio-item label="Email" description="Receive updates via email" value="email" [reveal]="emailReveal">
          <ng-template #emailReveal>
            <goabx-form-item label="Email address">
              <goabx-input name="email" formControlName="emailAddress"></goabx-input>
            </goabx-form-item>
          </ng-template>
        </goabx-radio-item>
        <goabx-radio-item value="phone" label="Phone" [reveal]="phoneReveal">
          <ng-template #phoneReveal>
            <goabx-form-item label="Phone number">
              <goabx-input name="phone" formControlName="phoneNumber"></goabx-input>
            </goabx-form-item>
          </ng-template>
        </goabx-radio-item>
        <goabx-radio-item value="text" label="Text message" [reveal]="textReveal">
          <ng-template #textReveal>
            <goabx-form-item label="Mobile phone number">
              <goabx-input name="mobile" formControlName="phoneNumber"></goabx-input>
            </goabx-form-item>
          </ng-template>
        </goabx-radio-item>
      </goabx-radio-group>
    </goabx-form-item>
    <goabx-form-item label="Select interests" mt="l">
      <goab-checkbox-list name="entryStatus">
        <goabx-checkbox name="sports" text="Sports"></goabx-checkbox>
        <goabx-checkbox name="music" text="Music"></goabx-checkbox>
        <goabx-checkbox name="travel" text="Travel"></goabx-checkbox>
        <goabx-checkbox name="other" text="Other" [reveal]="phoneReveal">
          <ng-template #phoneReveal>
            <goabx-form-item label="Please specify">
              <goabx-input name="other" formControlName="other"></goabx-input>
            </goabx-form-item>
          </ng-template>
        </goabx-checkbox>
      </goab-checkbox-list>
    </goabx-form-item>
    <goabx-form-item label="Name" mt="l">
      <goabx-input name="name" width="100%" (onChange)="updateName($event)" [value]="name"></goabx-input>
    </goabx-form-item>
    <goabx-form-item label="Description" mt="l">
      <goabx-textarea name="description" width="100%" [rows]="3" (onChange)="updateDescription($event)" [value]="description"></goabx-textarea>
    </goabx-form-item>
    <ng-template #actionsTwo>
      <goab-button-group alignment="end">
        <goabx-button type="tertiary" size="compact" (onClick)="toggleModalTwo()">Cancel</goabx-button>
        <goabx-button type="primary" size="compact" (onClick)="toggleModalTwo()">Save new item</goabx-button>
      </goab-button-group>
    </ng-template>
  </goabx-modal>
</div>