<h2>Accordion</h2>

<goab-accordion heading="Heading" headingSize="medium">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
</goab-accordion>

<goab-accordion heading="This is the title">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora optio illum
    iste consectetur harum vel voluptatem eos quos deleniti, sequi sapiente porro culpa
    repellendus eligendi in architecto natus omnis. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Repudiandae, nam corporis. Omnis tempora non aspernatur nostrum
    pariatur quibusdam magni eum vitae similique, laboriosam reiciendis repellat sapiente.
    Nobis laudantium facilis incidunt!
  </p>
  <goab-button (_click)="onClick()" size="compact" type="primary">Link to application</goab-button>
</goab-accordion>

<goab-accordion heading="This is the title" secondarytext="Secondary text">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sapiente delectus, hic
    explicabo doloribus magnam, consequatur eaque veritatis possimus porro ducimus vero
    ipsa omnis, soluta sit voluptates quam facilis odio. Lorem, ipsum dolor sit amet
    consectetur adipisicing elit. Animi, officia magnam assumenda nisi exercitationem
    rerum blanditiis natus modi nobis error iure asperiores? Iste vero odio magnam,
    reprehenderit doloribus error iusto.
  </p>
</goab-accordion>

<goab-button type="tertiary" mb="xl" (_click)="onClick()">
  Toggle Accordion Group
</goab-button>

<goab-accordion heading="Heading" [open]="open"> Content 1 </goab-accordion>
<goab-accordion heading="Heading" [open]="open" [headingContent]="headingContent">
  <ng-template #headingContent>
    <goab-badge type="success" content="Success"></goab-badge>
  </ng-template>

  Content 2
</goab-accordion>
<goab-accordion heading="Heading" [open]="open"> Content 3 </goab-accordion>
