<goab-form-item label="200px" mb="l">
  <goab-dropdown width="200px">
    <goab-dropdown-item value="1" label="Number 1" />
    <goab-dropdown-item value="2" label="Number 2" />
    <goab-dropdown-item value="3" label="Number 3" />
    <goab-dropdown-item value="4" label="Number 4" />
  </goab-dropdown>
</goab-form-item>
<goab-form-item label="50%" mb="l">
  <goab-dropdown width="50%">
    <goab-dropdown-item value="1" label="Number 1" />
    <goab-dropdown-item value="2" label="Number 2" />
    <goab-dropdown-item value="3" label="Number 3" />
    <goab-dropdown-item value="4" label="Number 4" />
  </goab-dropdown>
</goab-form-item>
<goab-form-item label="50rem" mb="l">
  <goab-dropdown width="50rem">
    <goab-dropdown-item value="1" label="Number 1" />
    <goab-dropdown-item value="2" label="Number 2" />
    <goab-dropdown-item value="3" label="Number 3" />
    <goab-dropdown-item value="4" label="Number 4" />
  </goab-dropdown>
</goab-form-item>
