<h1>Container</h1>

<h2>Basic</h2>
<goa-container>
  <h2>Detach to use</h2>
  + Add things inside me
</goa-container>

<h2>Large accent bar</h2>
<goa-container accent="thick">
  <h2>Heading</h2>
  Content
</goa-container>

<h2>Small accent bar</h2>
<goa-container accent="thin">
  <h2>Heading</h2>
  Content
</goa-container>

<h2>Accent bar with text</h2>
<goa-container>
  <h2>Heading</h2>
  Content
  <div slot="actions">
    <goa-button type="secondary" size="compact">Edit</goa-button>
  </div>
  <div slot="title">Heading</div>
</goa-container>

<h2>Heading with text only</h2>
<goa-container title="Heading">
  <h2>Heading</h2>
  Content
  <div slot="actions">
    <goa-badge type="success" icon content="Badge Text"></goa-badge>
  </div>
  <div slot="title">Heading</div>
</goa-container>

<h2>Nested</h2>
<goa-container>
  <div slot="title">The container title</div>
  <div slot="actions">
    <goa-button type="primary" size="compact">Assign to me</goa-button>
  </div>
  <h2>Custom H2</h2>
  <goa-container accent="thin">
    <div>This is a sub container</div>
  </goa-container>
</goa-container>

<h2>Interactive</h2>
<goa-container title="The container title" accent="thick">
  <div slot="actions">
    <goa-button type="secondary" size="compact">Assign to me</goa-button>
  </div>
  <h2>Heading</h2>
  Content
</goa-container>

<h2>Non-interactive</h2>
<goa-container type="non-interactive">
  <h2>Heading</h2>
  Content
</goa-container>

<h2>Relaxed Padding</h2>
<goa-container padding="relaxed">
  <h2>Heading</h2>
  Content
</goa-container>

<h2>Compact Padding</h2>
<goa-container padding="compact">
  <h2>Heading</h2>
  Content
</goa-container>
