<h3>Basic</h3>
<goa-container variant="primary" headingsize="small">
  <div>This is a sub container</div>
</goa-container>

<br />
<h3>Nested</h3>
<goa-container>
  <div slot="title">The container title</div>
  <div slot="actions">
    <goa-button type="primary" size="compact">Assign to me</goa-button>
  </div>
  <h2>Custom H2</h2>
  <goa-container variant="primary" headingsize="small">
    <div>This is a sub container</div>
  </goa-container>
</goa-container>

<br />
<h3>Non-interactive</h3>
<goa-container>
  <h2>Heading</h2>
  Content
</goa-container>

<br />
<goa-container headingsize="large">
  <h2>Heading</h2>
  Content
</goa-container>

<br />
<goa-container headingsize="small">
  <h2>Heading</h2>
  Content
</goa-container>

<br />
<h3>Accent bar with text</h3>
<goa-container data-id="accent-bar">
  <h2>Heading</h2>
  Content
  <div slot="actions">
    <goa-button type="secondary" size="compact">Edit</goa-button>
  </div>
</goa-container>

<br />
<goa-container data-id="container-button">
  <h2>Heading</h2>
  Content
  <div slot="actions">
    <goa-badge type="success" icon content="Badge Text"></goa-badge>
  </div>
</goa-container>
