<h1>Dropdown</h1>

value: {{reactiveFormCtrl.value | json}}
<goab-form-item label="FormControl binding">
  <goab-dropdown name="item" [formControl]="reactiveFormCtrl">
    <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
    <goab-dropdown-item value="green" label="Green"></goab-dropdown-item>
    <goab-dropdown-item value="blue" label="Blue"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<goab-form-item label="Basic dropdown">
  <goab-dropdown name="item" (onChange)="onChangeDropdown($event)" [filterable]="true">
    <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
    <goab-dropdown-item value="green" label="Green"></goab-dropdown-item>
    <goab-dropdown-item value="blue" label="Blue"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<goab-form-item label="dynamic colors from backend">
  <goab-dropdown name="firstname" [filterable]="true" (onChange)="onChangeDropdown($event)">
    <goab-dropdown-item *ngFor="let color of colors" [value]="color" [label]="color"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<form novalidate autocomplete="on">

  <goab-form-item label="dynamic colors from backend">
    <goab-dropdown name="FirstName" [filterable]="true" (onChange)="onChangeDropdown($event)">
      <goab-dropdown-item *ngFor="let color of colors" [value]="color" [label]="color"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>

  <goab-form-item label="Country">
    <goab-dropdown [filterable]="true" name="country" width="30ch">
      <goab-dropdown-item
        *ngFor="let opt of countries"
        [value]="opt.code"
        [label]="opt.name"
      ></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>
</form>

<goab-container>
  <goab-form-item label="Dropdown: 50% width" mb="3xl">
    <goab-dropdown width="50%">
      <goab-dropdown-item *ngFor="let fruit of fruits" [value]="fruit.value" [label]="fruit.label"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>

  <goab-spacer vspacing="3xl" />

  <goab-form-item label="Dropdown - Native" mt="3xl">
    <goab-dropdown width="30%" [native]="true">
      <goab-dropdown-item *ngFor="let fruit of fruits" [value]="fruit.value" [label]="fruit.label"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>
</goab-container>

<goab-container accent="thin">
  <form [formGroup]="form">
    <goab-form-item label="Select Option">
      <goab-dropdown name="option" formControlName="option" width="100%">
        <goab-dropdown-item
          *ngFor="let option of options"
          [value]="option.value"
          [label]="option.displayValue"
        />
      </goab-dropdown>
    </goab-form-item>
  </form>
</goab-container>

Date picker should display above the compoent if there isn't enough room at the bottom
<goab-form-item label="Item">
  <goab-date-picker (onChange)="onChange($event)" name="item"
    value="Wed Apr 03 2024 11:56:42 GMT-0600 (Mountain Daylight Time)"></goab-date-picker>
</goab-form-item>