<h1>Badge</h1>

<h2>Important</h2>
<goa-badge data-cy="importantIconTextBadge" type="important" content="Important" icon></goa-badge>
<goa-badge data-cy="importantTextBadge" type="important" content="Important"></goa-badge>
<goa-badge data-cy="importantIconBadge" type="important" icon arialabel="important icon"></goa-badge>

<h2>Success</h2>
<goa-badge data-cy="successIconTextBadge" type="success" content="Success" icon></goa-badge>
<goa-badge data-cy="successTextBadge" type="success" content="Success"></goa-badge>
<goa-badge data-cy="successIconBadge" type="success" icon></goa-badge>

<h2>Information</h2>
<goa-badge data-cy="InformationIconTextBadge" type="information" content="Information" icon></goa-badge>
<goa-badge data-cy="InformationTextBadge" type="information" content="Information"></goa-badge>
<goa-badge data-cy="InformationIconBadge" type="information" icon></goa-badge>

<h2>Emergency</h2>
<goa-badge data-cy="emergencyIconTextBadge" type="emergency" content="Emergency" icon></goa-badge>
<goa-badge data-cy="emergencyTextBadge" type="emergency" content="Emergency"></goa-badge>
<goa-badge data-cy="emergencyIconBadge" type="emergency" icon></goa-badge>

<h2>Dark</h2>
<goa-badge data-cy="darkIconTextBadge" type="dark" content="Dark" icon></goa-badge>
<goa-badge data-cy="darkTextBadge" type="dark" content="Dark"></goa-badge>
<goa-badge data-cy="darkIconBadge" type="dark" icon></goa-badge>

<h2>Midtone</h2>
<goa-badge data-cy="midtoneIconTextBadge" type="midtone" content="Midtone" icon></goa-badge>
<goa-badge data-cy="midtoneTextBadge" type="midtone" content="Midtone"></goa-badge>
<goa-badge data-cy="midtoneIconBadge" type="midtone" icon></goa-badge>

<h2>Light</h2>
<goa-badge data-cy="lightIconTextBadge" type="light" content="Light" icon></goa-badge>
<goa-badge data-cy="lightTextBadge" type="light" content="Light"></goa-badge>
<goa-badge data-cy="lightIconBadge" type="light" icon></goa-badge>

<h2>Margin Spacing</h2>
<goa-badge
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
  type="important"
  content="Important"
  icon
></goa-badge>
