<h1>Badge</h1>

<h2>Warning</h2>
<goa-badge type="warning" content="Warning" icon></goa-badge>
<goa-badge type="warning" content="Warning"></goa-badge>
<goa-badge type="warning" icon></goa-badge>

<h2>Success</h2>
<goa-badge type="success" content="Success" icon></goa-badge>
<goa-badge type="success" content="Success"></goa-badge>
<goa-badge type="success" icon></goa-badge>

<h2>Information</h2>
<goa-badge type="information" content="Information" icon></goa-badge>
<goa-badge type="information" content="Information"></goa-badge>
<goa-badge type="information" icon></goa-badge>

<h2>Emergency</h2>
<goa-badge type="emergency" content="Emergency" icon></goa-badge>
<goa-badge type="emergency" content="Emergency"></goa-badge>
<goa-badge type="emergency" icon></goa-badge>

<h2>Dark</h2>
<goa-badge type="dark" content="Dark" icon></goa-badge>
<goa-badge type="dark" content="Dark"></goa-badge>
<goa-badge type="dark" icon></goa-badge>

<h2>Midtone</h2>
<goa-badge type="midtone" content="Midtone" icon></goa-badge>
<goa-badge type="midtone" content="Midtone"></goa-badge>
<goa-badge type="midtone" icon></goa-badge>

<h2>Light</h2>
<goa-badge type="light" content="Light" icon></goa-badge>
<goa-badge type="light" content="Light"></goa-badge>
<goa-badge type="light" icon></goa-badge>
