<h1>Hero Banner</h1>

<h2>Default</h2>
<goa-hero-banner
  title="Hero Banner"
  backgroundurl="https://i.picsum.photos/id/1076/600/400.jpg?hmac=iLAZWoEDYRRPGnsbx7aWOGf-olRn3R5eOLDgH_IfXRw"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur optio,
  eius expedita, quasi vero maxime, laudantium voluptates eaque illum officiis
  hic!
</goa-hero-banner>


<h2>With Actions</h2>
<goa-hero-banner
  title="Hero Banner"
  backgroundurl="https://i.picsum.photos/id/1076/600/400.jpg?hmac=iLAZWoEDYRRPGnsbx7aWOGf-olRn3R5eOLDgH_IfXRw"
>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur optio,
  eius expedita, quasi vero maxime, laudantium voluptates eaque illum officiis
  hic!
  <div slot="actions">
    <goa-button-group>
      <goa-button>Action</goa-button>
      <goa-button type="secondary">Other Action</goa-button>
    </goa-button-group>
  </div>
</goa-hero-banner>
