<div style="width: 1024px; margin: 0 auto; padding: 2rem">
  <goab-text size="heading-l" mb="xl">Bug 3305: Can't Select February</goab-text>
  <goab-text size="body-m" mb="xl">
    After selecting January 31 you cannot select a date in February.
    <ol>
      <li>
        On the date picker Select a date, select any month with more than 28 days, then
        select a date larger than 28.
      </li>
      <li>
        Open the date picker again, select the month of February, notice the month is
        selected in the Dropdown, but the month displayed in the calendar didn't change.
      </li>
      <li>
        Select any date, notice it selects the date in the previously selected month
      </li>
    </ol>
  </goab-text>
  <goab-form-item label="Date picker (calendar)" mb="xl">
    <goab-date-picker
      name="bug-3275"
      type="calendar"
      [value]="calendarValue"
      (onChange)="handleCalendarChange($event)"
    />
  </goab-form-item>
  <goab-text size="body-m" mb="xl">
    Calendar date: {{ calendarValue || "None" }}
  </goab-text>
  <goab-form-item label="Date picker (input)" mb="xl">
    <goab-date-picker
      name="bug-3275"
      type="input"
      [value]="inputValue"
      (onChange)="handleInputChange($event)"
    />
  </goab-form-item>
  <goab-text size="body-m" mb="xl"> Input date: {{ inputValue || "None" }} </goab-text>
</div>
