<h1>Notification Banner</h1>

<h2>Information</h2>
<goa-notification type="information"
  >Lorem ipsum dolor
  <a href="https://example.com"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a
  >
  Lorem ipsum dolor</goa-notification
>
<h2>Important</h2>
<goa-notification type="important"
  ><a href="https://example.com"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a
  ></goa-notification
>
<h2>Emergency</h2>
<goa-notification type="emergency"
  ><a href="https://example.com"
    >Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a
  ></goa-notification
>
<h2>Event</h2>
<goa-notification type="event"
  >Lorem ipsum dolor sit amet, consectetur adipiscing elit.</goa-notification
>
