<h1>Button</h1>

<h2>Types</h2>
<goa-button (_click)="onClick()" type="submit">Submit</goa-button>
<goa-button (_click)="onClick()" type="secondary">Secondary</goa-button>
<goa-button (_click)="onClick()" type="submit" ml="xl" mr="xl" mb="xl" mt="l">
  Get Started here
</goa-button>
<goa-button (_click)="onClick()" type="tertiary">Tertiary</goa-button>
<goa-button (_click)="onClick()" type="start">Get Started</goa-button>

<goa-button-group gap="compact" align="left">
  <goa-button (_click)="onClick()" type="submit"> Get Started </goa-button>
  <goa-button (_click)="onClick()" type="tertiary">Tertiary</goa-button>
  <goa-button (_click)="onClick()" type="start">Get Started</goa-button>
</goa-button-group>

<h2>Disabled</h2>
<goa-button (_click)="onClick()" type="primary" disabled>Primary</goa-button>
<goa-button (_click)="onClick()" type="secondary" disabled="true">
  Secondary
</goa-button>
<goa-button (_click)="onClick()" type="tertiary" disabled>Tertiary</goa-button>
<goa-button (_click)="onClick()" type="start" disabled>Get Started</goa-button>

<h2>Sizes</h2>
<goa-button size="compact" (_click)="onClick()" type="primary">
  Compact Primary
</goa-button>
<goa-button size="compact" (_click)="onClick()" type="secondary">
  Compact Secondary
</goa-button>
<goa-button size="compact" (_click)="onClick()" type="tertiary">
  Compact Tertiary
</goa-button>

<h2>Icons</h2>
<goa-button-group gap="relaxed" align="left">
  <goa-button leadingicon="airplane" (_click)="onClick()" type="primary">
    Leading
  </goa-button>
  <goa-button trailingIcon="airplane" (_click)="onClick()" type="primary">
    Trailing
  </goa-button>
  <goa-button
    leadingicon="archive"
    trailingicon="airplane"
    (_click)="onClick()"
    type="primary"
  >
    Both
  </goa-button>
</goa-button-group>

<h2>Margin Spacing</h2>
<goa-button mt="m" mb="xs" ml="xl" mr="2xl" (_click)="onClick()" type="submit"
>Submit</goa-button
>
