<h3>Types</h3>
<goa-button (_click)="onClick()" type="primary">Primary</goa-button><br />
<goa-button (_click)="onClick()" type="secondary">Secondary</goa-button><br />
<goa-button (_click)="onClick()" type="tertiary">Tertiary</goa-button><br />
<goa-button (_click)="onClick()" type="start">Get Started</goa-button><br />

<h3>Sizes</h3>
<goa-button size="compact" (_click)="onClick()" type="primary"
  >Compact Primary</goa-button
><br />
<goa-button size="compact" (_click)="onClick()" type="secondary"
  >Compact Secondary</goa-button
><br />
<goa-button size="compact" (_click)="onClick()" type="tertiary"
  >Compact Tertiary</goa-button
><br />

<h3>Icons</h3>
<goa-button leadingicon="airplane" (_click)="onClick()" type="primary"
  >Leading</goa-button
><br />
<goa-button trailingIcon="airplane" (_click)="onClick()" type="primary"
  >Trailing</goa-button
><br />
<goa-button
  leadingicon="archive"
  trailingicon="airplane"
  (_click)="onClick()"
  type="primary"
  >Both</goa-button
><br />
