<h3>Emergency</h3>
<goa-callout type="emergency" heading="Emergency callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Important</h3>
<goa-callout type="important" heading="Important callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Information</h3>
<goa-callout type="information" heading="Information callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Success</h3>
<goa-callout type="success" heading="Success callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Events</h3>
<goa-callout type="event" heading="Event callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Emergency</h3>
<goa-callout type="emergency">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Important</h3>
<goa-callout type="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Information</h3>
<goa-callout type="information">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Success</h3>
<goa-callout type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<br />
<h3>Events</h3>
<goa-callout type="event">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>
