<h1>Callout</h1>

<h2>Emergency</h2>
<goa-callout type="emergency" heading="Emergency callout" data-cy="EmergencyCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Important</h2>
<goa-callout type="important" heading="Important callout" data-cy="ImportantCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Information</h2>
<goa-callout type="information" heading="Information callout" data-cy="InformationCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Success</h2>
<goa-callout type="success" heading="Success callout" data-cy="SuccessCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Events</h2>
<goa-callout type="event" heading="Event callout" data-cy="EventsCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Emergency</h2>
<goa-callout type="emergency">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Important</h2>
<goa-callout type="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Information</h2>
<goa-callout type="information">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Success</h2>
<goa-callout type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Events</h2>
<goa-callout type="event">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Margin Spacing</h2>
<goa-callout
  type="emergency"
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
  heading="Emergency callout"
>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Medium Callout</h2>

<h3>Information</h3>
<goa-callout type="information" heading="Heading" size="medium" data-cy="InformationMediumCallout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Emergency</h2>
<goa-callout type="emergency" heading="Emergency callout" data-cy="EmergencyMediumCallout" size="medium">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Important</h2>
<goa-callout type="important" heading="Important callout" data-cy="ImportantMediumCallout" size="medium">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Success</h2>
<goa-callout type="success" heading="Success callout" data-cy="SuccessMediumCallout" size="medium">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>

<h2>Events</h2>
<goa-callout type="event" heading="Event callout" data-cy="EventsMediumCallout" size="medium">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>