<h1>Callout</h1>

<h2>Emergency</h2>
<goa-callout type="emergency" heading="Emergency callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Important</h2>
<goa-callout type="important" heading="Important callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Information</h2>
<goa-callout type="information" heading="Information callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Success</h2>
<goa-callout type="success" heading="Success callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Events</h2>
<goa-callout type="event" heading="Event callout">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Emergency</h2>
<goa-callout type="emergency">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Important</h2>
<goa-callout type="important">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Information</h2>
<goa-callout type="information">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Success</h2>
<goa-callout type="success">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>


<h2>Events</h2>
<goa-callout type="event">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
</goa-callout>
