:host {
  display: block;
}

.feat3102__panel goab-menu-button,
.feat3102__panel goab-button {
  align-self: flex-start;
}

.feat3102__right-aligned {
  display: flex;
  justify-content: flex-end;
}

.feat3102__right-aligned goab-menu-button {
  margin-inline-start: auto;
}

.feat3102__log {
  align-items: center;
}
