<h1>Icon Button</h1>

<h2>Types</h2>
<goab-icon-button icon="airplane"></goab-icon-button>
<goab-icon-button icon="close"></goab-icon-button>
<goab-icon-button icon="refresh"></goab-icon-button>
<goab-icon-button icon="play-back" (onClick)="onClick()"></goab-icon-button>

<h2>Sizes</h2>
<goab-icon-button icon="close" size="small"></goab-icon-button>
<goab-icon-button icon="close" size="medium"></goab-icon-button>
<goab-icon-button icon="close" size="large"></goab-icon-button>

<h2>Variant</h2>
<goab-icon-button icon="close" variant="color"></goab-icon-button>
<goab-icon-button icon="close" variant="nocolor"></goab-icon-button>
<goab-icon-button icon="close" variant="dark"></goab-icon-button>
<goab-icon-button icon="close" variant="destructive"></goab-icon-button>

<h2>Title</h2>
<goab-icon-button icon="close" title="Close"></goab-icon-button>
<goab-icon-button icon="download" title="Download"></goab-icon-button>

<h2>Disabled</h2>
<goab-icon-button icon="close" [disabled]="true"></goab-icon-button>
<goab-icon-button icon="download" [disabled]="true"></goab-icon-button>
<goab-icon-button icon="airplane" variant="destructive" [disabled]="true"></goab-icon-button>

<h2>Margin Spacing</h2>
<goab-icon-button icon="airplane" mt="m" mb="xs" ml="xl" mr="2xl"></goab-icon-button>