<h3>Sizes - Small</h3>
<goa-circular-progress type="infinite" variant="inline" size="small" visible>
</goa-circular-progress>

<br />
<h3>Sizes - Large</h3>
<goa-circular-progress type="infinite" variant="inline" size="large" visible>
</goa-circular-progress>

<h3>Sizes - Small with message</h3>
<goa-circular-progress
  type="infinite"
  variant="inline"
  size="small"
  message="Loading the small circular progress with message"
  visible
>
</goa-circular-progress>

<br />
<h3>Sizes - Large with message</h3>
<goa-circular-progress
  type="infinite"
  variant="inline"
  size="large"
  message="Loading the large circular progress with message"
  visible
>
</goa-circular-progress>

<br />
<h3>Inline infinite</h3>
<goa-circular-progress type="infinite" variant="inline" size="large" visible>
</goa-circular-progress>

<br />
<h3>Inline progress</h3>
<goa-circular-progress
  type="infinite"
  variant="inline"
  size="large"
  [progress]="progress"
  [message]="message"
  visible
>
</goa-circular-progress>

<br />
<h3>Fullscreen infinite</h3>
<goa-button (_click)="showFullscreenInfinite()" type="primary"
  >Show Fullscreen infinite progress </goa-button
><br />
<goa-circular-progress
  variant="fullscreen"
  type="infinite"
  size="large"
  [visible]="fullscreenInfiniteVisible"
></goa-circular-progress>

<br />
<h3>Fullscreen progress</h3>
<goa-button (_click)="showFullscreenProgress()" type="primary"
  >Show Fullscreen progress </goa-button
><br />
<goa-circular-progress
  variant="fullscreen"
  type="infinite"
  size="large"
  [progress]="fullScreenProgress"
  [message]="fullScreenMessage"
  [visible]="fullscreenProgressVisible"
></goa-circular-progress>
