<h1>Circular Progress</h1>

<h2>Sizes - Small</h2>
<goa-circular-progress type="infinite" variant="inline" size="small" visible>
</goa-circular-progress>


<h2>Sizes - Large</h2>
<goa-circular-progress type="infinite" variant="inline" size="large" visible>
</goa-circular-progress>

<h2>Sizes - Small with message</h2>
<goa-circular-progress
  type="infinite"
  variant="inline"
  size="small"
  message="Loading the small circular progress with message"
  visible
>
</goa-circular-progress>


<h2>Sizes - Large with message</h2>
<goa-circular-progress
  type="infinite"
  variant="inline"
  size="large"
  message="Loading the large circular progress with message"
  visible
>
</goa-circular-progress>


<h2>Inline infinite</h2>
<goa-circular-progress type="infinite" variant="inline" size="large" visible>
</goa-circular-progress>


<h2>Inline progress</h2>
<goa-circular-progress
  type="progress"
  variant="inline"
  size="large"
  [progress]="progress"
  [message]="message"
  visible
>
</goa-circular-progress>


<h2>Fullscreen infinite</h2>
<goa-button (_click)="showFullscreenInfinite()" type="primary"
  >Show Fullscreen infinite progress </goa-button
>
<goa-circular-progress
  variant="fullscreen"
  type="infinite"
  size="large"
  [visible]="fullscreenInfiniteVisible"
></goa-circular-progress>


<h2>Fullscreen progress</h2>
<goa-button (_click)="showFullscreenProgress()" type="primary"
  >Show Fullscreen progress </goa-button
>
<goa-circular-progress
  variant="fullscreen"
  type="progress"
  size="large"
  [progress]="fullScreenProgress"
  [message]="fullScreenMessage"
  [visible]="fullscreenProgressVisible"
></goa-circular-progress>
