<h1>Icon</h1>

<h2>Types</h2>
<goab-icon type="information-circle"></goab-icon>
<goab-icon type="help-circle"></goab-icon>
<goab-icon type="close-circle"></goab-icon>
<goab-icon type="checkmark-circle"></goab-icon>

<h2>Sizes</h2>
<h5>Small</h5>
<goab-icon type="bookmark" size="small"></goab-icon>
<goab-icon type="calendar" size="small"></goab-icon>
<goab-icon type="documents" size="small"></goab-icon>
<goab-icon type="trash" size="small"></goab-icon>
<h5>Medium (Default)</h5>
<goab-icon type="bookmark"></goab-icon>
<goab-icon type="calendar"></goab-icon>
<goab-icon type="documents"></goab-icon>
<goab-icon type="trash"></goab-icon>
<h5>Large</h5>
<goab-icon type="bookmark" size="large"></goab-icon>
<goab-icon type="calendar" size="large"></goab-icon>
<goab-icon type="documents" size="large"></goab-icon>
<goab-icon type="trash" size="large"></goab-icon>

<h2>Theme</h2>
<h5>Outline (Default)</h5>
<goab-icon type="bookmark"></goab-icon>
<goab-icon type="calendar"></goab-icon>
<goab-icon type="documents"></goab-icon>
<goab-icon type="trash"></goab-icon>
<h5>Filled</h5>
<goab-icon type="bookmark" theme="filled"></goab-icon>
<goab-icon type="calendar" theme="filled"></goab-icon>
<goab-icon type="documents" theme="filled"></goab-icon>
<goab-icon type="trash" theme="filled"></goab-icon>

<h2>Margin Spacing</h2>
<goab-icon type="airplane" mt="m" mb="xs" ml="xl" mr="2xl"></goab-icon>

<h2>Opacity</h2>
<goab-icon type="airplane" [opacity]="0.3"></goab-icon>

<h2>Icon with color</h2>
<goab-icon type="airplane" fillColor="red"></goab-icon>
