<h1>Icon Button</h1>

<h2>Types</h2>
<goa-icon type="information-circle"></goa-icon>
<goa-icon type="help-circle"></goa-icon>
<goa-icon type="close-circle"></goa-icon>
<goa-icon type="checkmark-circle"></goa-icon>

<h2>Sizes</h2>
<h5>Small</h5>
<goa-icon type="bookmark" size="small"></goa-icon>
<goa-icon type="calendar" size="small"></goa-icon>
<goa-icon type="documents" size="small"></goa-icon>
<goa-icon type="trash" size="small"></goa-icon>
<h5>Medium (Default)</h5>
<goa-icon type="bookmark"></goa-icon>
<goa-icon type="calendar"></goa-icon>
<goa-icon type="documents"></goa-icon>
<goa-icon type="trash"></goa-icon>
<h5>Large</h5>
<goa-icon type="bookmark" size="large"></goa-icon>
<goa-icon type="calendar" size="large"></goa-icon>
<goa-icon type="documents" size="large"></goa-icon>
<goa-icon type="trash" size="large"></goa-icon>

<h2>Theme</h2>
<h5>Outline (Default)</h5>
<goa-icon type="bookmark"></goa-icon>
<goa-icon type="calendar"></goa-icon>
<goa-icon type="documents"></goa-icon>
<goa-icon type="trash"></goa-icon>
<h5>Filled</h5>
<goa-icon type="bookmark" theme="filled"></goa-icon>
<goa-icon type="calendar" theme="filled"></goa-icon>
<goa-icon type="documents" theme="filled"></goa-icon>
<goa-icon type="trash" theme="filled"></goa-icon>

<h2>Margin Spacing</h2>
<goa-icon type="airplane" mt="m" mb="xs" ml="xl" mr="2xl"></goa-icon>
