<h1>Footer</h1>

<h2>Default</h2>

<goab-app-footer id="default"></goab-app-footer>

<h2>Footer with links to meta information</h2>
<goab-app-footer id="meta-only">
  <goab-app-footer-meta-section slot="meta">
    <a href="privacy.html">Privacy</a>
    <a href="disclaimer.html">Disclaimer</a>
    <a href="accessibility.html">Accessibility</a>
    <a href="using-alberta.html">Using Alberta.ca</a>
  </goab-app-footer-meta-section>
</goab-app-footer>

<h2>Footer with secondary navigation</h2>
<goab-app-footer id="navigation-only">
  <goab-app-footer-nav-section slot="nav" maxcolumncount="3">
    <a href="a.html">Arts and culture</a>
    <a href="b.html">Education and training</a>
    <a href="c.html">Family and social supports</a>
    <a href="d.html">Housing and community</a>
    <a href="e.html">Life events</a>
    <a href="instagram.html">Instagram</a>
    <a href="youtube.html">YouTube</a>
    <a href="facebook.html">Facebook</a>
    <a href="snapchat.html">Snapchat</a>
    <a href="twitter.html">Twitter</a>
  </goab-app-footer-nav-section>
</goab-app-footer>

<h2>Footer with secondary navigation with multiple sections</h2>
<goab-app-footer id="navigation-only-multisection">
  <goab-app-footer-nav-section slot="nav" name="All Services">
    <a href="a.html">Arts and culture</a>
    <a href="b.html">Education and training</a>
    <a href="c.html">Family and social supports</a>
    <a href="d.html">Housing and community</a>
    <a href="e.html">Life events</a>
  </goab-app-footer-nav-section>
  <goab-app-footer-nav-section slot="nav" name="Social Media">
    <a href="instagram.html">Instagram</a>
    <a href="youtube.html">YouTube</a>
    <a href="facebook.html">Facebook</a>
    <a href="snapchat.html">Snapchat</a>
    <a href="twitter.html">Twitter</a>
  </goab-app-footer-nav-section>
</goab-app-footer>

<h2>Footer with secondary navigation with multi column section</h2>
<goab-app-footer id="navigation-only-multisection-multicolumn">
  <goab-app-footer-nav-section slot="nav" name="All Services" maxcolumncount="2">
    <a href="a.html">Arts and culture</a>
    <a href="b.html">Education and training</a>
    <a href="c.html">Family and social supports</a>
    <a href="d.html">Housing and community</a>
    <a href="e.html">Life events</a>
    <a href="f.html">Business and economy</a>
    <a href="g.html">Emergencies and public safety</a>
    <a href="h.html">Government</a>
    <a href="i.html">Jobs and employment</a>
    <a href="j.html">Moving to Alberta</a>
  </goab-app-footer-nav-section>
  <goab-app-footer-nav-section slot="nav" name="Social Media">
    <a href="instagram.html">Instagram</a>
    <a href="youtube.html">YouTube</a>
    <a href="facebook.html">Facebook</a>
    <a href="snapchat.html">Snapchat</a>
    <a href="twitter.html">Twitter</a>
  </goab-app-footer-nav-section>
</goab-app-footer>

<h2>Footer with secondary navigation and links to meta information</h2>
<goab-app-footer id="navigation and meta">
  <goab-app-footer-nav-section slot="nav" maxcolumncount="2">
    <a href="a.html">Arts and culture</a>
    <a href="b.html">Education and training</a>
    <a href="c.html">Family and social supports</a>
    <a href="d.html">Housing and community</a>
    <a href="e.html">Life events</a>
    <a href="instagram.html">Instagram</a>
    <a href="youtube.html">YouTube</a>
    <a href="facebook.html">Facebook</a>
    <a href="snapchat.html">Snapchat</a>
    <a href="twitter.html">Twitter</a>
  </goab-app-footer-nav-section>
  <goab-app-footer-meta-section slot="meta">
    <a href="privacy.html">Privacy</a>
    <a href="disclaimer.html">Disclaimer</a>
    <a href="accessibility.html">Accessibility</a>
    <a href="using-alberta.html">Using Alberta.ca</a>
  </goab-app-footer-meta-section>
</goab-app-footer>

<h2>
  Footer with secondary navigation with multiple sections and links to meta
  information
</h2>
<goab-app-footer id="meta-and-navigation-multisection">
  <goab-app-footer-nav-section heading="All Services" slot="nav">
    <a href="a.html">Arts and culture</a>
    <a href="b.html">Education and training</a>
    <a href="c.html">Family and social supports</a>
    <a href="d.html">Housing and community</a>
    <a href="e.html">Life events</a>
  </goab-app-footer-nav-section>
  <goab-app-footer-nav-section heading="Social Media" slot="nav">
    <a href="instagram.html">Instagram</a>
    <a href="youtube.html">YouTube</a>
    <a href="facebook.html">Facebook</a>
    <a href="snapchat.html">Snapchat</a>
    <a href="twitter.html">Twitter</a>
  </goab-app-footer-nav-section>
  <goab-app-footer-meta-section slot="meta">
    <a href="privacy.html">Privacy</a>
    <a href="disclaimer.html">Disclaimer</a>
    <a href="accessibility.html">Accessibility</a>
    <a href="using-alberta.html">Using Alberta.ca</a>
  </goab-app-footer-meta-section>
</goab-app-footer>
