<h1>Microsite Header</h1>

<h2>Alpha</h2>
<goab-microsite-header type="alpha"></goab-microsite-header>

<h2>Beta</h2>
<goab-microsite-header type="beta"></goab-microsite-header>

<h2>Live</h2>
<goab-microsite-header type="live"></goab-microsite-header>

<h2>Version</h2>
<goab-microsite-header type="alpha" version="v1.2.3"></goab-microsite-header>

<h2>Feedback Url</h2>
<goab-microsite-header type="alpha" version="v1.2.3" feedbackurl="https://example.com/feedback"></goab-microsite-header>

<h2>External Urls</h2>
<goab-microsite-header type="alpha" version="v1.2.3" feedbackurl="https://example.com/feedback" feedbackurltarget="self"
  headerurltarget="self"></goab-microsite-header>