---
/**
 * Get Started - Designers - User Experience Guidelines
 *
 * UX guidelines for Government of Alberta digital products.
 * Content from Confluence (Brief 87).
 */
import DropInCallout from '../../../components/DropInCallout.astro';
import DocumentationPageLayout from '../../../layouts/DocumentationPageLayout.astro';
---

<DocumentationPageLayout
  title="User experience guidelines"
  description="User experience guidelines for Government of Alberta digital products"
  section="get-started"
>
  <goa-text version="2" size="heading-xl" mt="none" mb="m">User experience guidelines</goa-text>
  <goa-text version="2" size="body-l" mt="none" mb="2xl">
    Digital products built for the Government of Alberta should comply with these guidelines to ensure a
    quality user experience for Albertans.
  </goa-text>

  <ul>
    <li><strong>User-centered:</strong> Designed with a clear understanding of users, their goals, tasks, environments, and context of use, using user-centered design methods.</li>
    <li><strong>Usable:</strong> Interfaces will be easy to use, enabling users to find the information they need and complete tasks successfully.</li>
    <li><strong>Accessible:</strong> Digital products will be inclusive, ensuring usability for everyone, regardless of physical or cognitive ability.</li>
    <li><strong>Trustworthy:</strong> Experiences will feel familiar and recognizable as a Government of Alberta product, ensuring users' security and privacy.</li>
    <li><strong>Modern:</strong> Digital experiences will meet present-day user expectations and preferences for aesthetics and interaction.</li>
  </ul>

  <p>
    For more details on the process of assessing compliance to each guideline, refer to our
    <a href="https://abgov.sharepoint.com/sites/S600D27-DDDUXT/SitePages/User-Experience-Guidelines.aspx" target="_blank">User Experience Guidelines</a> and <a href="https://abgov.sharepoint.com/:x:/r/sites/S600D27-DDDUXT/_layouts/15/Doc.aspx?sourcedoc=%7B00DD7555-4DF3-4F70-AA3A-8370E776E9C0%7D&file=Template%20-%20design%20release%20checklists%20.xlsx&action=default&mobileredirect=true" target="_blank">Design System Checklist</a>.
  </p>
  <goa-text as="h2" id="usability-testing" version="2" size="heading-m">Usability testing</goa-text>
  <p>
    Usability testing is our preferred method to understand user needs as they relate to each guideline.
  </p>
  <p>Suitable usability testing includes:</p>
  <ul>
    <li><strong>Diverse user group:</strong> Real users from different demographic, behavioural backgrounds, and geographical regions within Alberta that will experience the problem or benefit of the product.</li>
    <li><strong>Inclusive testing:</strong> Users with various physical and/or cognitive abilities, literacy levels, and tech savviness.</li>
    <li><strong>Device variety:</strong> A diverse range of devices that reflect users' preferred choice when interacting with government services.</li>
    <li><strong>Tasks:</strong> Activities that cover tasks and service process from end-to-end.</li>
  </ul>
  <p>
    Frequent usability testing should be conducted to maintain product usability, effectiveness and
    alignment to the user needs as they evolve over time.
  </p>
  <p>
    For guidance on the process of usability testing, refer to our
    <a href="https://abgov.sharepoint.com/sites/S600D27-DDDUXT/SitePages/Understanding-Usability.aspx" target="_blank">Understanding Usability</a> documentation.
  </p>
  <DropInCallout />
</DocumentationPageLayout>
