<h1>Text Area</h1>

<h2>Basic</h2>
<goa-textarea
  name="comment-basic"
  (_change)="onChange($event)"
  value="Initial value"
></goa-textarea>

<h2>Character count</h2>
<goa-textarea
  name="CharacterCountField"
  [value]="characterCountFieldValue"
  (_change)="characterCountOnChange($event)"
  showcounter="true"
></goa-textarea>

<h2>Character count with limit</h2>
<goa-textarea
  name="CharacterCountWithLimitField"
  [value]="characterCountWithLimitValue"
  (_change)="characterCountWithLimitOnChange($event)"
  showcounter="true"
  maxcharcount="20"
></goa-textarea>

<h2>Disabled</h2>
<goa-textarea name="comment-disabled" disabled></goa-textarea>

<h2>Placeholder</h2>
<goa-textarea
  placeholder="Tell us what you think.."
  name="comment"
></goa-textarea>

<h2>Rows</h2>
<goa-textarea rows="4" name="comment"></goa-textarea>

<h2>Error state</h2>
<goa-textarea error name="comment"></goa-textarea>
