<h3>Basic</h3>
<goa-textarea
  name="comment-basic"
  (_change)="onChange($event)"
  value="Initial value"
></goa-textarea>

<h3>Character count</h3>
<goa-textarea
  name="firstname"
  [value]="value2"
  (_change)="onChange2($event)"
  showcounter="true"
></goa-textarea>

<h3>Character count with limit</h3>
<goa-textarea
  name="firstname"
  [value]="value3"
  (_change)="onChange3($event)"
  showcounter="true"
  maxcharcount="20"
></goa-textarea>

<h3>Disabled</h3>
<goa-textarea name="comment-disabled" disabled></goa-textarea>

<h3>Placeholder</h3>
<goa-textarea
  placeholder="Tell us what you think.."
  name="comment"
></goa-textarea>

<h3>Rows</h3>
<goa-textarea rows="4" name="comment"></goa-textarea>

<h3>Error state</h3>
<goa-textarea error name="comment"></goa-textarea>
