<h1>Text Area</h1>

<div [formGroup]="form" style="border: 1px solid red; width: 30ch">
  <goa-form-item>
    <goa-textarea goaValue formControlName="textarea" showcount="true" countby="character" maxcount="100" width="auto"></goa-textarea>
  </goa-form-item>
  <goa-form-item>
    <goa-input goaValue formControlName="input"></goa-input>
  </goa-form-item>
  Textarea Value: {{ form.controls["textarea"].value | json }}
  Input Value: {{ form.controls["input"].value | json }}
</div>



<h2>Basic</h2>
<goa-textarea
  name="comment-basic"
  (_change)="onChange($event)"
  value="Initial value"
></goa-textarea>

<h2>Disabled</h2>
<goa-textarea name="comment-disabled" disabled></goa-textarea>

<h2>Placeholder</h2>
<goa-textarea
  placeholder="Tell us what you think.."
  name="comment"
></goa-textarea>

<h2>Rows</h2>
<goa-textarea rows="4" name="comment"></goa-textarea>

<h2>Error state</h2>
<goa-textarea error name="comment"></goa-textarea>

<h2>Binding</h2>
{{ boundVal }}
<goa-textarea goaValue name="binding" [(ngModel)]="boundVal"></goa-textarea>

<h2>Margin Spacing</h2>
<goa-textarea
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
  name="comment-basic"
  (_change)="onChange($event)"
  value="Initial value"
></goa-textarea>

<h2>Reactive Binding</h2>
{{ reactiveFormCtrl.value }}
<goa-textarea
  goaValue
  name="binding"
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
></goa-textarea>

<h2>Reactive Binding - Disabled</h2>
<goa-textarea
  name="comment"
  goaValue
  [formControl]="reactiveFormCtrl"
  [attr.disabled]="true"
></goa-textarea>

<h2>On Key Press</h2>
<goa-textarea
  name="comment-basic"
  (_keyPress)="onKeyPress($event)"
  value="Initial value"
></goa-textarea>
<goa-form-item label="Basic" labelsize="regular">
  <goa-textarea width="60ch" showcount="true" countby="character" maxcount="100" (_change)="onChange($event)"></goa-textarea>
</goa-form-item>
