<h3>Basic</h3>
<goa-radio-group name="color" value="orange" (_change)="onChange($event)">
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>

<h3>Error</h3>
<goa-radio-group name="color" value="orange" error>
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>

<h3>Label</h3>
<goa-radio-group name="color" value="orange">
  <goa-radio-item name="color" label="Red" value="red"></goa-radio-item>
  <goa-radio-item name="color" label="Blue" value="blue"></goa-radio-item>
  <goa-radio-item name="color" label="Orange" value="orange"></goa-radio-item>
</goa-radio-group>

<h3>Disabled</h3>
<goa-radio-group name="color" value="orange" disabled>
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>

<h3>Orientation</h3>
<goa-radio-group name="color" value="orange" orientation="horizontal">
  <goa-radio-item name="color" value="red"></goa-radio-item>
  <goa-radio-item name="color" value="blue"></goa-radio-item>
  <goa-radio-item name="color" value="orange"></goa-radio-item>
</goa-radio-group>
