<h2>Tooltip</h2>

<div
  style="
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  "
>
  <goa-tooltip content="Trying some more long form text here to see how it's rendered">
    <goa-icon type="information-circle" />
  </goa-tooltip>
  <goa-tooltip content="{{ randomValue }}">
    <goa-icon type="information-circle" />
  </goa-tooltip>

<!--  <goa-tooltip content="This is a  tooltip" position="left">-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip content="This is a  tooltip" position="right">-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->

<!--  <goa-tooltip content="This is a  tooltip" position="top">-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip content="This is a  tooltip" position="bottom">-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip-->
<!--    content="This is a  tooltip with alignment"-->
<!--    position="top"-->
<!--    halign="left"-->
<!--  >-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip-->
<!--    content="This is a  tooltip with alignment"-->
<!--    position="top"-->
<!--    halign="right"-->
<!--  >-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip-->
<!--    content="This is a  tooltip with alignment"-->
<!--    position="bottom"-->
<!--    halign="left"-->
<!--  >-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
<!--  <goa-tooltip-->
<!--    content="This is a  tooltip with alignment"-->
<!--    position="bottom"-->
<!--    halign="right"-->
<!--  >-->
<!--    <goa-icon type="information-circle"></goa-icon>-->
<!--  </goa-tooltip>-->
</div>
