<h1>Feature 1547</h1>
<p>Feature 1547 implementation</p>

<goab-block gap="m" direction="row" alignment="center">
  <goab-tooltip content="This is a simple tooltip with just text content">
    <goab-icon type="information-circle" size="3"></goab-icon>
  </goab-tooltip>

  <goab-tooltip>
    <div slot="content">
      <p>This is a multiline tooltip with <strong>bold text</strong>.</p>
      <p>Here's some <em>italic text</em> on a separate line.</p>
      <p>And here's a <a href="#" style="color: #0066cc">link</a> on its own line.</p>
    </div>
    <goab-icon type="help-circle" size="3"></goab-icon>
  </goab-tooltip>
</goab-block>
