<goa-public-form
  name="parent-form"
  (_complete)="onComplete($event)"
  (_bind)="_mainFormComponent.bind($event)"
  (_stateChange)="updateState($event)"
  back-url="/fsos"
>
  <goa-public-form-page
    id="what-is-your-role"
    section-title="Support order details"
    dispatch-on="change"
    first
    (_continue)="onPageChange($event, 'what-is-your-role')"
  >
    <goa-form-item name="Role" label="Who are you in the registration process?" labelsize="large">
      <goa-radio-group name="role">
        <goa-radio-item value="Recipient" label="I'm the recipient of the child or spouse support"></goa-radio-item>
        <goa-radio-item value="Payor" label="I'm the payor"></goa-radio-item>
      </goa-radio-group>
    </goa-form-item>

    <!-- not being checked on load when value is true -->
    <goa-form-item name="Lived in Canada > 5years" label="Have you been a resident of Canada for more then 5 years?">
      <goa-checkbox name="canadian-resident" value="Yes" text="Yes"></goa-checkbox>
    </goa-form-item>

    <goa-checkbox text="Add cost amounts?">
      <div slot="reveal">
        <goa-form-item name="Amount 1" label="Amount 1">
          <goa-input name="amount1" placeholder="Enter dollars"></goa-input>
        </goa-form-item>
        <goa-form-item name="Amount 2" label="Amount 2">
          <goa-input name="amount2" placeholder="Enter dollars"></goa-input>
        </goa-form-item>

        TOTAL: {{_total}}
      </div>
    </goa-checkbox>
  </goa-public-form-page>

  <goa-public-form-page
    id="contact"
    section-title="Support order details"
    (_continue)="onPageChange($event, 'contact')"
  >
    <goa-form-item name="Method of contact" label="How would you like to be contacted?">
    <goa-radio-group name="contact-method">
      <goa-radio-item value="Contact by phone" label="Contact me by phone">
        <goa-form-item name="Phone Number" slot="reveal">
          <goa-input name="phone-number"></goa-input>
        </goa-form-item>
      </goa-radio-item>
      <goa-radio-item value="Contact by email" label="Contact me by email">
        <goa-form-item name="Email" slot="reveal">
          <goa-input name="email"></goa-input>
        </goa-form-item>
      </goa-radio-item>
      <goa-radio-item value="Contact by paper mail" label="Contact me by paper mail">
        <goa-form-item name="Mailing address" slot="reveal">
          <goa-input name="address"></goa-input>
        </goa-form-item>
      </goa-radio-item>
    </goa-radio-group>
    </goa-form-item>
  </goa-public-form-page>

  <goa-public-form-page
    id="optional"
    heading="Alternate names"
    section-title="Support order details"
    (_continue)="onPageChange($event, 'optional')"
  >
    <goa-form-item name="Nick name" label="Nickname" requirement="optional">
      <goa-input name="nickname"></goa-input>
    </goa-form-item>

    <goa-form-item name="Secret alias" label="Secret alias" requirement="optional">
      <goa-input name="alias"></goa-input>
    </goa-form-item>
  </goa-public-form-page>

  <goa-subform
    id="children-subform"
    name="children-subform"
    (_complete)="onChildComplete($event)"
    (_stateChange)="updateChildrenState($event)"
    (_bind)="_childFormComponent.bind($event)"
  >
    <goa-public-form-page
      first
      skip-summary
      id="child-list"
      secondary-button-text="Done"
      button-text="Add child"
      (_continue)="onChildPageChange($event, 'child-list')"
      (_secondaryClick)="onPageChange($event, 'children-subform')"
    >
      <div *ngIf="children().length === 0">
        Add a child
      </div>
      <goa-table>
        <tbody>
          <tr *ngFor="let item of children(); index as i">
            <td>{{ item["firstName"]}}</td>
            <td>{{ item["lastName"]}}</td>
          </tr>
        </tbody>
      </goa-table>
    </goa-public-form-page>

    <goa-public-form-page id="name" (_continue)="onChildPageChange($event, 'name')">
      <goa-form-item name="First name" label="First name">
        <goa-input name="firstName"></goa-input>
      </goa-form-item>
      <goa-form-item name="Last name" label="Last name">
        <goa-input name="lastName"></goa-input>
      </goa-form-item>
    </goa-public-form-page>

    <goa-public-form-page id="alternate-name" (_continue)="onChildPageChange($event, 'alternate-name')">
      <goa-form-item name="Alternate name" label="Alternate name">
        <goa-input name="alternateName"></goa-input>
      </goa-form-item>
    </goa-public-form-page>

    <goa-public-form-page id="dob" (_continue)="onChildPageChange($event, 'dob')">
      <goa-form-item name="Date of birth" label="Date of birth">
        <goa-date-picker type="input" name="dob"></goa-date-picker>
      </goa-form-item>
    </goa-public-form-page>

    <goa-public-form-page
      last
      skip-summary
      id="summary"
      (_continue)="onChildPageChange($event, 'summary')"
    >
      <goa-public-form-summary></goa-public-form-summary>
    </goa-public-form-page>

  </goa-subform>


  <goa-public-form-page
    id="address"
    section-title="Support order details"
    heading="Current address"
    (_continue)="onPageChange($event, 'address')"
  >
    <goa-form-item label="Date">
      <goa-date-picker type="input" name="date"></goa-date-picker>
    </goa-form-item>
    <goa-form-item label="Address">
      <goa-input name="address"></goa-input>
    </goa-form-item>
    <goa-form-item name="" label="City">
      <goa-input name="city"></goa-input>
    </goa-form-item>
    <goa-form-item name="" label="Postal code">
      <goa-input name="postal-code"></goa-input>
    </goa-form-item>
  </goa-public-form-page>


  <goa-public-form-page
    id="do-you-receive-support"
    section-title="Support order details"
    (_continue)="onPageChange($event, 'do-you-receive-support')"
  >
    <goa-form-item name="Support?" label="Does your support order include child support or child support expenses?" labelsize="large">
      <goa-radio-group name="support">
        <goa-radio-item value="Yes" label="Yes"></goa-radio-item>
        <goa-radio-item value="No" label="No"></goa-radio-item>
      </goa-radio-group>
    </goa-form-item>
  </goa-public-form-page>

  <goa-public-form-page
    id="recalculated"
    section-title="Support order details"
    (_continue)="onPageChange($event, 'recalculated')"
  >
    <goa-form-item name="Recalculated?" label="Does your support order specify that it may be recalculated?" labelsize="large">
      <goa-radio-group name="recalculated">
        <goa-radio-item value="Yes" label="Yes"></goa-radio-item>
        <goa-radio-item value="No" label="No"></goa-radio-item>
      </goa-radio-group>
    </goa-form-item>
  </goa-public-form-page>

  <goa-public-form-page
    id="summary"
    last
    skip-summary
    heading="Review your answers"
  >
    <goa-public-form-summary heading="Support order details"></goa-public-form-summary>
  </goa-public-form-page>

</goa-public-form>
