<h2>Tooltip</h2>


<h4>Content</h4>

<goab-tooltip content="Trying some more long form text here to see how it's rendered">
  <goab-icon type="information-circle" />
</goab-tooltip>

<goab-tooltip [content]="randomValue">
  <goab-icon type="information-circle" />
</goab-tooltip>

<h4>Left</h4>
<goab-tooltip content="This is a  tooltip" position="left">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Right</h4>
<goab-tooltip content="This is a  tooltip" position="right">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Top</h4>
<goab-tooltip content="This is a  tooltip" position="top">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Bottom</h4>
<goab-tooltip content="This is a  tooltip" position="bottom">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Top left</h4>
<goab-tooltip content="This is a  tooltip with alignment" position="top" hAlign="left">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Top right</h4>
<goab-tooltip content="This is a  tooltip with alignment" position="top" hAlign="right">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Bottom left</h4>
<goab-tooltip content="This is a  tooltip with alignment" position="bottom" hAlign="left">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>

<h4>Bottom right</h4>
<goab-tooltip content="This is a  tooltip with alignment" position="bottom" hAlign="right">
  <goab-icon type="information-circle"></goab-icon>
</goab-tooltip>