<h1>Notification</h1>

<h2>Information</h2>
<goab-notification type="information" (onDismiss)="onDismiss()" arialive="polite">Lorem ipsum dolor
  <a href="https://example.com">Lorem ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a>
  Lorem ipsum dolor</goab-notification>
<h2>Important</h2>
<goab-notification type="important" (onDismiss)="onDismiss()" arialive="assertive"><a href="https://example.com">Lorem
    ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a></goab-notification>
<h2>Emergency</h2>
<goab-notification type="emergency" (onDismiss)="onDismiss()" arialive="assertive"><a href="https://example.com">Lorem
    ipsum dolor sit amet, consectetur adipiscing elit Lorem ipsum dolor
    sit amet, consectetur adipiscing elit.</a></goab-notification>
<h2>Event</h2>
<goab-notification type="event" (onDismiss)="onDismiss()" arialive="off">Lorem ipsum dolor sit amet, consectetur
  adipiscing elit.</goab-notification>