---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GoA UI Components Documentation">
  <main>
    <h1>GoA UI Components Documentation</h1>
    <p>Welcome to the documentation for the Government of Alberta UI Components library.</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1440px;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
</style>
