<h2>Default</h2>
<goab-button-group>
  <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>

<h2>Start Alignment</h2>
<goab-button-group alignment="start">
  <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>

<h2>Center Alignment</h2>
<goab-button-group alignment="center">
  <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>

<h2>End Alignment</h2>
<goab-button-group alignment="end">
  <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>

<h2>Compact Gap</h2>
<goab-button-group alignment="start" gap="compact">
  <goab-button type="primary" size="compact" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" size="compact" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" size="compact" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>

<h2>Margin Spacing</h2>
<goab-button-group mt="m" mb="xs" ml="xl" mr="2xl">
  <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
  <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
  <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
</goab-button-group>