<div>
  <goab-text size="heading-l" mb="xl">Bug 3640 - Work Side Menu Badge Alignment</goab-text>

  <goab-work-side-menu heading="Bug 3640" url="#" userName="Jane Doe" userSecondaryText="jane.doe@gov.ab.ca"
    [open]="open" (onToggle)="onToggle()" [primaryContent]="primaryTemplate" [secondaryContent]="secondaryTemplate"
    [accountContent]="accountTemplate">
  </goab-work-side-menu>

  <ng-template #primaryTemplate>
    <goab-work-side-menu-item label="Primary item 1" icon="home" url="#primary-1" />
    <goab-work-side-menu-item label="Primary item 2" icon="bookmark" badge="2" url="#primary-2" />
    <goab-work-side-menu-item label="Primary item 3" icon="bookmark" badge="New" url="#primary-3" />
    <goab-work-side-menu-item label="Primary item 3" icon="bookmark" badge="Pending" type="emergency" url="#primary-3" />

    <goab-work-side-menu-group heading="Primary group" icon="folder">
      <goab-work-side-menu-item label="Grouped item 1" icon="document" url="#primary-group-1" />
      <goab-work-side-menu-item label="Grouped item 2" icon="document-text" url="#primary-group-2" />
    </goab-work-side-menu-group>

  </ng-template>

  <ng-template #secondaryTemplate>
    <goab-work-side-menu-item label="Secondary item 1" icon="analytics" badge="2" url="#secondary-1" />
    <goab-work-side-menu-item label="Secondary item 2" icon="settings" badge="New" url="#secondary-2" />
    <goab-work-side-menu-item label="Secondary item 3" icon="analytics" badge="Pending" type="emergency" url="#secondary-3" />
  </ng-template>

  <ng-template #accountTemplate>
    <goab-work-side-menu-item label="Account" icon="person" url="#account" />
    <goab-work-side-menu-item label="Sign out" icon="log-out" type="emergency" url="#signout" />
  </ng-template>
</div>