<h1>Badge</h1>

<h2>Important</h2>
<goab-badge type="important" content="Important"></goab-badge>
<goab-badge type="important" ariaLabel="important" [icon]="true"></goab-badge>

<h2>Success</h2>
<goab-badge type="success" content="Success"></goab-badge>
<goab-badge type="success" content="Success" [icon]="true"></goab-badge>
<goab-badge type="success" ariaLabel="Success" [icon]="true"></goab-badge>

<h2>Information</h2>
<goab-badge type="information" content="Information"></goab-badge>
<goab-badge type="information" content="Information" [icon]="true"></goab-badge>
<goab-badge type="information" ariaLabel="Information" [icon]="true"></goab-badge>

<h2>Emergency</h2>
<goab-badge type="emergency" content="Emergency"></goab-badge>
<goab-badge type="emergency" content="Emergency" [icon]="true"></goab-badge>
<goab-badge type="emergency" ariaLabel="Emergency" [icon]="true"></goab-badge>

<h2>Dark</h2>
<goab-badge type="dark" content="Dark"></goab-badge>
<goab-badge type="dark" content="Dark" [icon]="true"></goab-badge>
<goab-badge type="dark" ariaLabel="Dark" [icon]="true"></goab-badge>

<h2>Midtone</h2>
<goab-badge type="midtone" content="Midtone"></goab-badge>
<goab-badge type="midtone" content="Midtone" [icon]="true"></goab-badge>
<goab-badge type="midtone" ariaLabel="Midtone" [icon]="true"></goab-badge>

<h2>Light</h2>
<goab-badge type="light" content="Light"></goab-badge>
<goab-badge type="light" content="Light" [icon]="true"></goab-badge>
<goab-badge type="light" ariaLabel="Light" [icon]="true"></goab-badge>

<h2>Margin Spacing</h2>
<goab-badge mt="m" mb="xs" ml="xl" mr="2xl" type="important" content="Important"></goab-badge>
