<goa-callout version="2" type="information" emphasis="low" heading="Need help building a government service?" mt="2xl" mb="m">
  <goa-text version="2" size="body-m" mt="2xs" mb="s">Join design system drop-in hours to:</goa-text>
  <ul style="margin-bottom: var(--goa-space-s);">
    <li>Get feedback on your service</li>
    <li>Propose new components or patterns</li>
    <li>Suggest updates to existing resources</li>
    <li>Ask questions</li>
    <li>Share feedback</li>
  </ul>
  <goa-text version="2" size="body-s" color="secondary" mt="none" mb="none">Drop-in sessions are available to Government of Alberta product teams.</goa-text>
  <goa-link version="2" size="small" href="https://outlook.office365.com/owa/calendar/DesignSystemDropinHours@abgov.onmicrosoft.com/bookings/" external="true" mt="s">Book time in drop-in hours</goa-link>
</goa-callout>
