<goa-divider version="2" mt="xl" mb="xl"></goa-divider>

<goa-callout version="2" type="information" heading="Need help building a government service?">
  <goa-text version="2" size="body-m" mt="none" mb="m">Join design system drop-in hours to:</goa-text>
  <ul style="margin: 0 0 var(--goa-space-m) 0;">
    <li>Get feedback on your service</li>
    <li>Propose new components or patterns</li>
    <li>Suggest updates to existing resources</li>
    <li>Ask questions</li>
    <li>Share feedback</li>
  </ul>
  <goa-text version="2" size="body-m" mt="none" mb="m">
    Drop-in sessions are available to Government of Alberta product teams.
  </goa-text>
  <goa-link trailingicon="open">
    <a href="https://outlook.office365.com/book/BKGDesignsystemdropinhours@abgov.onmicrosoft.com/" target="_blank" rel="noopener noreferrer">
      Book time in drop in hours
    </a>
  </goa-link>
</goa-callout>
