<main>
  <goab-text tag="h1">Bug #2378: Expanded content is not read</goab-text>

  <goab-text tag="h3">Details</goab-text>
  <goab-details heading="Supporting details">
    <goab-text tag="p">
      This Details content should be announced when the component expands.
    </goab-text>
  </goab-details>

  <goab-text tag="h3">Accordion</goab-text>
  <goab-accordion heading="Supporting information">
    <goab-text tag="p">
      This Accordion content should be announced when the component expands.
    </goab-text>
  </goab-accordion>
</main>
