<form [formGroup]="fg" novalidate autocomplete="on">

  <goab-form-item label="Business Name" helpText="The name that will identify the business throughout APC. Use an
    operating as name for numbered businesses">
    <goab-input name="businessName" [value]="fg.value.businessName">
    </goab-input>
  </goab-form-item>

  <goab-form-item label="CRA Business Number">
    <goab-input name="craBusinessNumber" type="number"></goab-input>
  </goab-form-item>

  <goab-form-item label="Business Phone">
    <goab-input name="number" leadingIcon="call" type="tel"></goab-input>
  </goab-form-item>

  <goab-form-item label="Country">
    <goab-dropdown [filterable]="true" name="country" [formControl]="fg.controls.country"
      width="30ch">
      <goab-dropdown-item *ngFor="let opt of countries" name="country" [value]="opt.code"
        [label]="opt.name"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>

  <goab-form-item label="Street Address 1">
    <goab-input type="text" name="address1" [formControl]="fg.controls.address1"></goab-input>
  </goab-form-item>

  <goab-form-item label="Street Address 2">
    <goab-input type="text" name="address2"
      [formControl]="fg.controls.address2"></goab-input>
  </goab-form-item>

  <goab-form-item label="Postal Code">
    <goab-input type="text" name="postalCode"
      [formControl]="fg.controls.postalCode"></goab-input>
  </goab-form-item>

  <goab-form-item label="Province/State">
    <goab-dropdown [filterable]="true"
      *ngIf="fg.value.country && subdivisions[fg.value.country] as subs; else noSubdivisions" name="region"
      [formControl]="fg.controls.region" width="30ch">
      <goab-dropdown-item *ngFor="let opt of subs" name="region" [value]="opt.code"
        [label]="opt.name"></goab-dropdown-item>
    </goab-dropdown>

    <ng-template #noSubdivisions>
      <goab-input type="text" name="region" 
        [formControl]="fg.controls.region"></goab-input>
    </ng-template>
  </goab-form-item>

  <goab-dropdown name="colors123" [formControl]="reactiveFormCtrl">
    <goab-dropdown-item *ngFor="let color of colors" [value]="color" [label]="color"></goab-dropdown-item>
  </goab-dropdown>


</form>
