<h2>Popover</h2>
<h3>Basic</h3>
<goab-popover [target]="target">
  <h3>interactable content</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi tempora optio
    illum iste consectetur harum vel voluptatem eos quos deleniti, sequi
    sapiente porro culpa repellendus eligendi in architecto natus omnis. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, nam
    corporis. Omnis tempora non aspernatur nostrum pariatur quibusdam magni eum
    vitae similique, laboriosam reiciendis repellat sapiente. Nobis laudantium
    facilis incidunt!
  </p>
  <goab-button-group>
    <goab-button type="primary" (onClick)="onClick()">Primary</goab-button>
    <goab-button type="submit" (onClick)="onClick()">Submit</goab-button>
    <goab-button type="secondary" (onClick)="onClick()">Secondary</goab-button>
  </goab-button-group>
  <ng-template #target>
    <div style="white-space: nowrap">
      <goab-button type="secondary" size="compact">Open Popover</goab-button>
    </div>
  </ng-template>
</goab-popover>


<h3>Min width and max width</h3>
<goab-popover minWidth="1000px" [target]="target1">
  <h3>This is a popover</h3>
  <p>It can be used for a number of different contexts.</p>
  <ng-template #target1>
    <goab-button type="secondary" size="compact">Click me</goab-button>
  </ng-template>
</goab-popover>

<goab-popover mt="xs" maxWidth="100px" [target]="target2">
  <h3>This is a popover</h3>
  <p>It can be used for a number of different contexts.</p>
  <ng-template #target2>
    <goab-button type="secondary" size="compact">Click me</goab-button>
  </ng-template>
</goab-popover>

<h3>Dynamic Positioning</h3>
<goab-block direction="column" gap="4xl">
  <goab-block style="width: 100%">
    <goab-popover [target]="dynamicPositionTarget">
      <span>This</span>
      <ng-template #dynamicPositionTarget>
        <goab-button type="secondary" size="compact">Click me</goab-button>
      </ng-template>
    </goab-popover>
    <goab-spacer hspacing="fill"></goab-spacer>
    <goab-popover maxwidth="500px" [target]="compactPopover">
      <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati
        sapiente natus, asperiores qui eligendi reiciendis. Porro placeat qui
        laboriosam minus nihil nam aliquam necessitatibus! Doloremque corrupti
        quia ex eligendi deserunt.</span>
      <ng-template #compactPopover>
        <goab-button type="secondary" size="compact">Click me</goab-button>
      </ng-template>
    </goab-popover>
  </goab-block>
  <goab-block style="width: 100%">
    <goab-spacer hspacing="fill"></goab-spacer>
    <goab-popover [target]="differentContext">
      <h3>This is a popover</h3>
      <p>It can be used for a number of different contexts.</p>
      <ng-template #differentContext>
        <goab-button type="secondary" size="compact">Click me</goab-button>
      </ng-template>
    </goab-popover>
    <goab-spacer hspacing="fill"></goab-spacer>
  </goab-block>
  <goab-block style="width: 100%">
    <goab-popover [target]="loremTarget">
      <h3>This is a popover</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas optio
        debitis, dicta sequi dignissimos odio quis aliquam voluptatibus nihil
        officiis iusto nobis consequuntur quia non ducimus totam ratione? Earum,
        mollitia.
      </p>
      <ng-template #loremTarget>
        <goab-button type="secondary" size="compact">Click me</goab-button>
      </ng-template>
    </goab-popover>
    <goab-spacer hspacing="fill"></goab-spacer>
    <goab-popover maxwidth="500px" [target]="loremCompactTarget">
      <h3>This is a popover</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus eligendi
        consectetur ullam recusandae! Eveniet, earum sequi aut iure et quia?
        Hic, ipsa perferendis. Et reprehenderit consequatur quod minus illo
        amet!
      </p>
      <ng-template #loremCompactTarget>
        <goab-button type="secondary" size="compact">Click me</goab-button>
      </ng-template>
    </goab-popover>
  </goab-block>
</goab-block>
