/* Bug 2720 Component Styles */
main {
  padding: 1rem;
}

section {
  margin-bottom: 2rem;
}

ol, ul {
  margin-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

div.hello {
  text-decoration: underline;
}