<h1>Dropdown</h1>

<h2>Mobile</h2>
<goa-dropdown [native]="isMobile" value="green">
  <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
  <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
  <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
</goa-dropdown>

<h2>Others</h2>
<goa-dropdown native="true">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<goa-dropdown name="colors1" native="true" value="">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<goa-dropdown name="colors1" placeholder="Select">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<goa-dropdown name="colors1" value="red">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<h2>Dynamic</h2>
<goa-dropdown name="province" (_change)="selectProvince($event)">
  <goa-dropdown-item
    *ngFor="let name of provinces"
    [attr.name]="name"
    [value]="name"
    [label]="name"
  >
  </goa-dropdown-item>
</goa-dropdown>

<goa-dropdown name="city" placeholder="Select a city">
  <goa-dropdown-item
    *ngFor="let name of pcities"
    [attr.name]="name"
    [value]="name"
    [label]="name"
  >
  </goa-dropdown-item>
</goa-dropdown>

<h2>Binding</h2>
<div>Selected Color: {{ boundVal }}</div>
<goa-dropdown
  goaValue
  name="boundColor"
  [(ngModel)]="boundVal"
  [value]="selectedColor"
  placeholder="Select a color"
>
  <goa-dropdown-item
    value="red"
    name="boundColor"
    label="Red"
  ></goa-dropdown-item>
  <goa-dropdown-item
    value="green"
    name="boundColor"
    label="Green"
  ></goa-dropdown-item>
  <goa-dropdown-item
    value="blue"
    name="boundColor"
    label="Blue"
  ></goa-dropdown-item>
</goa-dropdown>

<h1>Margin Spacing</h1>

<goa-dropdown
  name="colors"
  placeholder="Select a user"
  [value]="selectedColor"
  (_change)="selectColor($event)"
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
>
  <goa-dropdown-item
    name="colors"
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  >
  </goa-dropdown-item>
</goa-dropdown>

<h2>Reactive Binding</h2>
<div>Selected Color: {{ reactiveFormCtrl.value }}</div>
<goa-button (_click)="reactiveFormCtrl.setValue('red')" type="tertiary">Update to red</goa-button>
<br/>
<goa-dropdown
  goaValue
  native="true"
  name="boundColors2"
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
>
  <goa-dropdown-item
    name="boundColors2"
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  >
  </goa-dropdown-item>
</goa-dropdown>
&nbsp;

<goa-dropdown goaValue name="colors123" [formControl]="reactiveFormCtrl">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>
<br/>

<h4>Disabled</h4>

<goa-dropdown goaValue name="colors123" [formControl]="reactiveFormCtrl">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>
