<h1>Dropdown</h1>

<hr />

<div>Selected Color: {{ reactiveFormCtrl.value }}</div>
<goa-button (_click)="reactiveFormCtrl.setValue('red')" type="tertiary">
  Update to red
</goa-button>
<br />

<goa-dropdown goaValue name="colors123" native="true" [formControl]="reactiveFormCtrl">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<goa-dropdown goaValue name="colors123" [formControl]="reactiveFormCtrl">
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<goa-dropdown
  goaValue
  filterable="true"
  name="colors123"
  [formControl]="reactiveFormCtrl"
>
  <goa-dropdown-item
    *ngFor="let color of colors"
    [value]="color"
    [label]="color"
  ></goa-dropdown-item>
</goa-dropdown>

<button>stop</button>
