<div>
  <h1>3743 - Tertiary button background color on mobile</h1>
  <goab-button-group>
    <goab-button>Submit</goab-button>
    <goab-button type="secondary">Cancel</goab-button>
    <goab-button type="tertiary">Tertiary</goab-button>
  </goab-button-group>
  <div style="background-color: var(--goa-color-greyscale-700); padding: var(--goa-space-l);">
    <goab-button-group>
      <goab-button variant="inverse">Primary inverse</goab-button>
      <goab-button variant="inverse" type="secondary">Secondary inverse</goab-button>
      <goab-button variant="inverse" type="tertiary">Tertiary inverse</goab-button>
    </goab-button-group>
  </div>
</div>