<h2>Start Alignment</h2>
<goa-button-group alignment="start">
  <goa-button type="primary" (_click)="onClick()">Primary</goa-button>
  <goa-button type="submit" (_click)="onClick()">Submit</goa-button>
  <goa-button type="secondary" (_click)="onClick()">Secondary</goa-button>
</goa-button-group>

<h2>Center Alignment</h2>
<goa-button-group alignment="center">
  <goa-button type="primary" (_click)="onClick()">Primary</goa-button>
  <goa-button type="submit" (_click)="onClick()">Submit</goa-button>
  <goa-button type="secondary" (_click)="onClick()">Secondary</goa-button>
</goa-button-group>

<h2>End Alignment</h2>
<goa-button-group alignment="end">
  <goa-button type="primary" (_click)="onClick()">Primary</goa-button>
  <goa-button type="submit" (_click)="onClick()">Submit</goa-button>
  <goa-button type="secondary" (_click)="onClick()">Secondary</goa-button>
</goa-button-group>

<h2>Compact Gap</h2>
<goa-button-group alignment="start" gap="compact">
  <goa-button type="primary" size="compact" (_click)="onClick()"
    >Primary</goa-button
  >
  <goa-button type="submit" size="compact" (_click)="onClick()"
    >Submit</goa-button
  >
  <goa-button type="secondary" size="compact" (_click)="onClick()"
    >Secondary</goa-button
  >
</goa-button-group>
