<div>
  <p>
    Select a value with the DatePicker and it should show in "Current value" below.
    Changing the Month to "--select a month--" will clear the value.
  </p>
  <goab-form-item label="Date picker (input)" mb="xl">
    <goab-date-picker
      name="bug-3275"
      type="input"
      [value]="inputValue"
      (onChange)="handleChange($event)"
    />
  </goab-form-item>

  <goab-button-group mb="l">
    <goab-button size="compact" type="secondary" (onClick)="setValue('')">
      Clear programmatically
    </goab-button>
  </goab-button-group>
  <div>
    <p>
      <b>Note:</b> The button clears the value in the form but does not change the
      DatePicker when <code>type=input</code>. Its just for testing.
    </p>
  </div>

  <div>
    Current value: <strong>{{ inputValue || '"" (empty)' }}</strong>
  </div>
</div>
