<div>
  <p>
    Select a value with the DatePicker and it should show in "Current value" below.
    Changing the Month to "—Select a month—" will clear the value. The buttons below
    set/clear the value programmatically, and should update the month/day/year fields.
  </p>
  <goab-form-item label="Date picker (input)" mb="xl">
    <goab-date-picker
      name="bug-3275"
      type="input"
      [value]="inputValue"
      (onChange)="handleChange($event)"
    />
  </goab-form-item>

  <goab-button-group mb="l">
    <goab-button size="compact" (onClick)="setValue('2024-03-15')">
      Set March 15
    </goab-button>
    <goab-button size="compact" type="secondary" (onClick)="setValue('')">
      Clear programmatically
    </goab-button>
  </goab-button-group>

  <div>
    Current value: <strong>{{ inputValue || '"" (empty)' }}</strong>
  </div>
</div>
