<h1>Form Stepper</h1>

<goa-form-stepper ml="s" mr="s" [step]="step" (_change)="updateStep($event)">
  <goa-form-step text="Personal details" [status]="status[0]"></goa-form-step>
  <goa-form-step text="Employment history" [status]="status[1]"></goa-form-step>
  <goa-form-step text="References" [status]="status[2]"></goa-form-step>
  <goa-form-step text="Review" [status]="status[3]"></goa-form-step>
</goa-form-stepper>
<goa-pages [current]="step">
  <div>/* Page 1 content */</div>
  <div>/* Page 2 content */</div>
  <div>/* Page 3 content */</div>
  <div>/* Page 4 content */</div>
</goa-pages>
<div style="display: flex; justify-content: space-between">
  <goa-button (_click)="setPage(step - 1)" type="secondary"
    >Previous</goa-button
  >
  <goa-button (_click)="setPage(step + 1)" type="primary">Next</goa-button>
</div>
