.search-menu-button {
  display: flex;
  gap: var(--goa-space-m);
  align-items: flex-start;
  width: 100%;
  border: none;
  background: transparent;
  border-radius: var(--goa-border-radius-m);
  padding: var(--goa-space-xs) var(--goa-space-xs) var(--goa-space-xs)
    calc(var(--goa-space-xs) + var(--goa-space-3xs));
  color: var(--goa-color-greyscale-600);
  min-height: 40px;
  cursor: pointer;
  text-align: left;
  font: var(--goa-typography-body-s);
}
.search-menu-button:hover {
  background: var(--goa-color-greyscale-100);
  color: var(--goa-color-text-default);
}
.search-menu-button:focus-visible {
  outline: var(--goa-border-width-l) solid var(--goa-color-interactive-focus);
  outline-offset: 2px;
}
.search-menu-button goa-icon {
  margin-top: var(--goa-space-3xs);
}
.search-menu-label {
  flex-grow: 1;
}
.search-menu-badge {
  color: var(--goa-color-greyscale-600);
  height: 1.25rem;
  min-width: 1.25rem;
  line-height: 1.3;
  text-align: center;
  font-size: var(--goa-font-size-2);
  background-color: var(--goa-color-greyscale-100);
  border: 1px solid var(--goa-color-greyscale-200);
  border-radius: 6px;
  padding: 0 6px;
}
