<h1>Dropdown</h1>

<h2>Not filterable</h2>
<h3>Example 1: Using onChange</h3>
<goab-form-item label="Event based example">
  <goab-dropdown name="item" (onChange)="onChangeExample1($event)" [value]="example1">
    <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
    <goab-dropdown-item value="green" label="Green"></goab-dropdown-item>
    <goab-dropdown-item value="blue" label="Blue"></goab-dropdown-item>
  </goab-dropdown>
  <div slot="helptext">Value is selected: {{example1}}</div>
</goab-form-item>

<h3>Example 2: Using reactive form</h3>
<form [formGroup]="example2Form">
  <goab-dropdown formControlName="dropdownControl" placeholder="Select an option" id="example-dropdown">
    <goab-dropdown-item value="option1">Option 1</goab-dropdown-item>
    <goab-dropdown-item value="option2">Option 2</goab-dropdown-item>
    <goab-dropdown-item value="option3">Option 3</goab-dropdown-item>
  </goab-dropdown>
  <div slot="helptext">Selected Value: {{ example2Form.get('dropdownControl')?.value }}</div>
</form>

<h3>Example 3: Using ngModel</h3>
<goab-dropdown [(ngModel)]="example3" placeholder="Select an option" id="example-dropdown">
  <goab-dropdown-item value="option1">Option 1</goab-dropdown-item>
  <goab-dropdown-item value="option2">Option 2</goab-dropdown-item>
  <goab-dropdown-item value="option3">Option 3</goab-dropdown-item>
</goab-dropdown>
<p>Selected Value: {{ example3 }}</p>

<hr/>




value: {{reactiveFormCtrl.value | json}}
<goab-form-item label="FormControl binding">
  <goab-dropdown name="item" [formControl]="reactiveFormCtrl">
    <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
    <goab-dropdown-item value="green" label="Green"></goab-dropdown-item>
    <goab-dropdown-item value="blue" label="Blue"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<goab-form-item label="Basic dropdown">
  <goab-dropdown name="item" (onChange)="onChangeDropdown($event)" [filterable]="true">
    <goab-dropdown-item value="red" label="Red"></goab-dropdown-item>
    <goab-dropdown-item value="green" label="Green"></goab-dropdown-item>
    <goab-dropdown-item value="blue" label="Blue"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<goab-form-item label="dynamic colors from backend">
  <goab-dropdown name="firstname" [filterable]="true" (onChange)="onChangeDropdown($event)">
    <goab-dropdown-item *ngFor="let color of colors" [value]="color" [label]="color"></goab-dropdown-item>
  </goab-dropdown>
</goab-form-item>

<form novalidate autocomplete="on">

  <goab-form-item label="dynamic colors from backend">
    <goab-dropdown name="FirstName" [filterable]="true" (onChange)="onChangeDropdown($event)">
      <goab-dropdown-item *ngFor="let color of colors" [value]="color" [label]="color"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>

  <goab-form-item label="Country">
    <goab-dropdown [filterable]="true" [relative]="true" name="country" width="30ch">
      <goab-dropdown-item *ngFor="let opt of countries" [value]="opt.code" [label]="opt.name"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>
</form>

<goab-container>
  <goab-form-item label="Dropdown: 50% width" mb="3xl">
    <goab-dropdown width="50%">
      <goab-dropdown-item *ngFor="let fruit of fruits" [value]="fruit.value" [label]="fruit.label"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>

  <goab-spacer vspacing="3xl" />

  <goab-form-item label="Dropdown - Native" mt="3xl">
    <goab-dropdown width="30%" [native]="true">
      <goab-dropdown-item *ngFor="let fruit of fruits" [value]="fruit.value" [label]="fruit.label"></goab-dropdown-item>
    </goab-dropdown>
  </goab-form-item>
</goab-container>

<goab-container accent="thin">
  <form [formGroup]="form">
    <goab-form-item label="Select Option">
      <goab-dropdown [relative]="true" name="option" formControlName="option" width="100%">
        <goab-dropdown-item *ngFor="let option of options" [value]="option.value" [label]="option.displayValue" />
      </goab-dropdown>
    </goab-form-item>
  </form>
</goab-container>

Date picker should display above the compoent if there isn't enough room at the bottom
<goab-form-item label="Item">
  <goab-date-picker (onChange)="onChange($event)" name="item"
                    value="Wed Apr 03 2024 11:56:42 GMT-0600 (Mountain Daylight Time)"></goab-date-picker>
</goab-form-item>
