<goa-service-level-header level="alpha" version="UAT"></goa-service-level-header>

<goa-app-header url="http://google.com" title="Digital File Service">
  <a href="#">Sign in</a>
</goa-app-header>

<goa-page-block>
  <form>
    <goa-form-item name="firstname" label="First Name">
      <goa-input id="firstname" name="firstname" (_change)="onInputChangeEvent($event)" type="text" width="50%"></goa-input>
    </goa-form-item>

    <goa-checkbox name="desserts" text="Ice Cream" value="10" (_change)="onCheckboxChangeEvent($event)" ></goa-checkbox>

    <goa-radio-group name="color" value="orange" (_change)="onRadioChange($event)">
      <goa-radio-item name="color" label="Red" value="red"></goa-radio-item>
      <goa-radio-item name="color" label="Blue" value="blue"></goa-radio-item>
      <goa-radio-item name="color" label="Orange" value="orange"></goa-radio-item>
    </goa-radio-group>

    <goa-button-group alignment="start">
      <goa-button type="primary" (_click)="submitForm()">Submit</goa-button>
    </goa-button-group>
  </form>
</goa-page-block>
