<h1>Angular Demo App</h1>

<goa-input type="text" (_change)="onEvent($event)"></goa-input>

<goa-button type="primary" (_click)="handleClick()">Button</goa-button>

<goa-badge content="Dark" type="dark"></goa-badge>

<goa-notification type="information">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi saepe, maiores, praesentium minus quod reprehenderit consequuntur earum molestias aliquid amet, vitae eveniet harum incidunt sint. Numquam debitis molestias officia corporis.
</goa-notification>
