<goa-service-level-header level="alpha" version="UAT"></goa-service-level-header>

<goa-app-header url="http://google.com" title="Digital File Service">
  <a href="#">Sign in</a>
</goa-app-header>

<goa-page-block>
  <form>
    <goa-form-item name="firstname" label="First Name">
      <goa-input id="firstname" name="firstname" (_change)="onInputChangeEvent($event)" type="text"></goa-input>
    </goa-form-item>

    <goa-checkbox name="desserts" text="Ice Cream" value="10" (_change)="onCheckboxChangeEvent($event)" ></goa-checkbox>

    <goa-button-group alignment="start">
      <goa-button type="primary" (_click)="submitForm()">Submit</goa-button>
    </goa-button-group>
  </form>
</goa-page-block>
