<h1>Chip</h1>

<h2>Basic</h2>
<goab-chip content="Chip Text"></goab-chip>

<h2>Leading icon</h2>
<goab-chip content="Chip Text" leadingicon="close-circle"></goab-chip>

<h2>Delete event</h2>
<goab-chip *ngFor="let chip of chips" [content]="chip" [deletable]="true" (_click)="deleteChip(chip)"></goab-chip>

<h2>Error state</h2>
<goab-chip content="Chip Text" [error]="true"></goab-chip>
<goab-chip content="Chip Text" [error]="true" [deletable]="true" (_click)="onClick()"></goab-chip>

<h2>Margin Spacing</h2>
<goab-chip content="Chip Text" mt="m" mb="xs" ml="xl" mr="2xl"></goab-chip>
