<h1>Basic</h1>
<goa-three-column-layout>
  <section slot="header">
    <goa-app-header></goa-app-header>
  </section>
  <section slot="nav">
    <goa-side-menu>
      <a href="#dashboard">Dashboard</a>
      <a href="#accounts">Accounts</a>
      <a href="#invoices">Invoices</a>
      <a href="#employees">Employees</a>
      <a href="#claims">Claims</a>
    </goa-side-menu>
  </section>
  <h1>Main content</h1>
  <p>Add in your content here</p>
  <section slot="side-menu">
    <h2>Side Menu</h2>
    <p>Add in your content here</p>
  </section>
  <section slot="footer">
    <goa-app-footer></goa-app-footer>
  </section>
</goa-three-column-layout>

<h1>Max Content Width</h1>
<goa-three-column-layout maxcontentwidth="100%">
  <section slot="header">
    <goa-app-header></goa-app-header>
  </section>
  <section slot="nav">
    <a href="#dashboard">Dashboard</a>
    <a href="#accounts">Accounts</a>
    <a href="#invoices">Invoices</a>
    <a href="#employees">Employees</a>
    <a href="#claims">Claims</a>
  </section>
  <h1>Main content</h1>
  <p>
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum
    sint consectetur cupidatat
  </p>
  <section slot="side-menu">
    <h2>Side Menu</h2>
    <p>Add in your content here</p>
  </section>
  <section slot="footer">
    <goa-app-footer></goa-app-footer>
  </section>
</goa-three-column-layout>

<h1>Nav Column Width</h1>
<goa-three-column-layout leftcolumnwidth="32ch">
  <section slot="header">
    <goa-app-header></goa-app-header>
  </section>
  <section slot="nav">
    <a href="#dashboard">Dashboard</a>
    <a href="#accounts">Accounts</a>
    <a href="#invoices">Invoices</a>
    <a href="#employees">Employees</a>
    <a href="#claims">Claims</a>
  </section>
  <h1>Main content</h1>
  <p>
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum
    sint consectetur cupidatat
  </p>
  <section slot="side-menu">
    <h2>Side Menu</h2>
    <p>Add in your content here</p>
  </section>
  <section slot="footer">
    <goa-app-footer></goa-app-footer>
  </section>
</goa-three-column-layout>

<h1>Side Menu Column Width</h1>
<goa-three-column-layout rightcolumnwidth="32ch">
  <section slot="header">
    <goa-app-header></goa-app-header>
  </section>
  <section slot="nav">
    <a href="#dashboard">Dashboard</a>
    <a href="#accounts">Accounts</a>
    <a href="#invoices">Invoices</a>
    <a href="#employees">Employees</a>
    <a href="#claims">Claims</a>
  </section>
  <h1>Main content</h1>
  <p>
    Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint cillum
    sint consectetur cupidatat
  </p>
  <section slot="side-menu">
    <h2>Side Menu</h2>
    <p>Add in your content here</p>
  </section>
  <section slot="footer">
    <goa-app-footer></goa-app-footer>
  </section>
</goa-three-column-layout>
