<h1>Input</h1>

<goa-date-picker
  goaValue
  [formControl]="reactiveDate2FormCtrl"
></goa-date-picker>

<h2>Basic</h2>
<goa-input
  id="foo"
  name="foo"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h2>Icons</h2>
<goa-input name="foo" leadingicon="finger-print"></goa-input>
<goa-input name="foo" trailingicon="finger-print"></goa-input>

<h2>Number</h2>
<goa-input name="foo" type="number" min="0" max="10" step="2"></goa-input>
<goa-input name="foo" type="number"></goa-input>

<h2>Max Length</h2>
<goa-form-item label="Max Length" helptext="Maximum is 10.">
  <goa-input name="foo" maxlength="10"></goa-input>
</goa-form-item>

<h2>Date and time</h2>
<goa-input
  name="boundDate"
  type="date"
  [value]="boundDate"
  (_change)="setDate($event)"
></goa-input>
<goa-input name="foo" type="date" [value]="formatDate"></goa-input>
<goa-input name="datetime" type="datetime-local" [value]="dateTime"></goa-input>
<goa-input name="time" type="time" [value]="time" step="1"></goa-input>

<goa-input
  type="date"
  name="Date with min max"
  [value]="formatDate"
  [min]="minDate"
  [max]="maxDate"
></goa-input>

<h2>Icon Buttons</h2>
<goa-input
  name="foo"
  trailingicon="finger-print"
  handletrailingiconclick="true"
  (_trailingIconClick)="handleTrailingIconClick()"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h2>Disabled</h2>
<goa-input name="foo" disabled="true" placeholder="Find by name"></goa-input>

<h2>Error state</h2>
<goa-input name="foo" error></goa-input>

<h2>Focus</h2>
<goa-input
  name="foo"
  (_focus)="onFocusEvent($event)"
  (_blur)="onBlurEvent($event)"
></goa-input>

<h2>Key Press</h2>
<goa-input name="foo" (_keyPress)="onKeyPressEvent($event)"></goa-input>

<h2>Prefix and Suffix</h2>
<goa-input name="input" prefix="$"></goa-input>
<goa-input name="input" suffix="items"></goa-input>
<goa-input name="input" prefix="$" suffix="per item"></goa-input>

<h2>Disabled Prefix/Suffix</h2>
<goa-input name="foo" disabled="true" prefix="$" suffix="per item"></goa-input>

<h2>Auto capitalize</h2>
<goa-input
  type="text"
  name="chars"
  autoCapitalize="off"
  placeholder="off | none"
></goa-input>
<goa-input
  type="text"
  name="chars"
  autoCapitalize="on"
  placeholder="on | sentences"
></goa-input>
<goa-input
  type="text"
  name="chars"
  autoCapitalize="words"
  placeholder="words"
></goa-input>
<goa-input
  type="text"
  name="chars"
  autoCapitalize="characters"
  placeholder="characters"
></goa-input>

<h2>Binding</h2>

<p>{{ wcVal }}</p>
<goa-input [value]="wcVal" (_change)="updateInput($event)"></goa-input>

<h2>Angular Reactive Forms Component using Web Component</h2>
<p>{{ reactiveFormCtrl.value }}</p>
<p>Valid (min value 0): {{ reactiveFormCtrl.valid }}</p>
<goa-input
  goaValue
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
></goa-input>
<goa-input
  goaValue
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
></goa-input>

<h2>Angular Template Forms Component using Web Component</h2>
<p>{{ tempDrivenVal }}</p>
<goa-input goaValue [(ngModel)]="tempDrivenVal"></goa-input>
<goa-input goaValue [(ngModel)]="tempDrivenVal"></goa-input>

<h2>Slider binding</h2>
<p>{{ sliderVal }}</p>
<goa-input goaValue type="range" [(ngModel)]="sliderVal"></goa-input>

<h2>Date binding</h2>
<p>{{ dateVal }}</p>
<goa-input goaValue type="date" [(ngModel)]="dateVal"></goa-input>

<h2>Values binding</h2>
<p>{{ arrayVal | json }}</p>
<goa-input goaValueList [(ngModel)]="arrayVal"></goa-input>

<h2>Margin Spacing</h2>
<goa-input
  id="foo"
  name="foo"
  (_change)="onInputChangeEvent($event)"
  mt="m"
  mb="xs"
  ml="xl"
  mr="2xl"
></goa-input>

<h2>Reactive binding - Date</h2>
<p>{{ reactiveDateFormCtrl.value }}</p>
<goa-input
  goaValue
  type="date"
  [formControl]="reactiveDateFormCtrl"
  [value]="reactiveDateFormCtrl.value"
></goa-input>

<h2>Reactive binding - Time</h2>
<p>{{ reactiveTimeFormCtrl.value }}</p>
<goa-input
  goaValue
  type="time"
  [formControl]="reactiveTimeFormCtrl"
  [value]="reactiveTimeFormCtrl.value"
  step="1"
></goa-input>

<h2>Leading Content</h2>
<goa-input name="input">
  <div slot="leadingContent"><goa-badge type="success" icon></goa-badge></div>
</goa-input>

<h2>Trailing Content</h2>
<goa-input name="input">
  <div slot="trailingContent">items</div>
</goa-input>

<h2>Leading and Trailing Content</h2>
<goa-input name="input">
  <div slot="leadingContent">
    <div style="width: 50px; text-align: center">$</div>
  </div>
  <div slot="trailingContent">SomeText</div>
</goa-input>

<h2>Reactive binding - Disabled</h2>
<goa-input
  goaValue
  [formControl]="reactiveFormCtrl"
  [value]="reactiveFormCtrl.value"
  [attr.disabled]="true"
></goa-input>
