<h3>Basic</h3>
<goa-input
  id="foo"
  name="foo"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h3>Icons</h3>
<goa-input name="foo" leadingicon="finger-print"></goa-input>
<goa-input name="foo" trailingicon="finger-print"></goa-input>

<h3>Number</h3>
<goa-input name="foo" type="number" min="0" max="10" step="2"></goa-input>
<goa-input name="foo" type="number"></goa-input>

<h3>Date and time</h3>
<goa-input name="foo" type="date" [value]="formatDate"></goa-input>
<goa-input name="datetime" type="datetime-local" [value]="dateTime"></goa-input>
<goa-input name="time" type="time" [value]="time" step="1"></goa-input>

<goa-input type="date" name="Date with min max" [value]="formatDate" [min]="minDate" [max]="maxDate"></goa-input>

<h3>Icon Buttons</h3>
<goa-input
  name="foo"
  trailingicon="finger-print"
  handletrailingiconclick="true"
  (_trailingIconClick)="handleTrailingIconClick()"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h3>Disabled</h3>
<goa-input name="foo" disabled="true" placeholder="Find by name"></goa-input>

<h3>Error state</h3>
<goa-input name="foo" error></goa-input>

<h3>Focus</h3>
<goa-input name="foo"></goa-input>

<h3>Character count</h3>
<goa-input name="firstname" showcounter="true"></goa-input>

<h3>Character count with limit</h3>
<goa-input name="firstname" showcounter="true" maxcharcount="20"></goa-input>

<h2>Prefix and Suffix</h2>
<goa-input name="input" prefix="$"></goa-input>
<goa-input name="input" suffix="items"></goa-input>
<goa-input name="input" prefix="$" suffix="per item"></goa-input>
