<h1>Input</h1>

<h2>Basic</h2>
<goa-input
  id="foo"
  name="foo"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h2>Icons</h2>
<goa-input name="foo" leadingicon="finger-print"></goa-input>
<goa-input name="foo" trailingicon="finger-print"></goa-input>

<h2>Number</h2>
<goa-input name="foo" type="number" min="0" max="10" step="2"></goa-input>
<goa-input name="foo" type="number"></goa-input>

<h2>Date and time</h2>
<goa-input name="foo" type="date" [value]="formatDate"></goa-input>
<goa-input name="datetime" type="datetime-local" [value]="dateTime"></goa-input>
<goa-input name="time" type="time" [value]="time" step="1"></goa-input>

<goa-input type="date" name="Date with min max" [value]="formatDate" [min]="minDate" [max]="maxDate"></goa-input>

<h2>Icon Buttons</h2>
<goa-input
  name="foo"
  trailingicon="finger-print"
  handletrailingiconclick="true"
  (_trailingIconClick)="handleTrailingIconClick()"
  (_change)="onInputChangeEvent($event)"
></goa-input>

<h2>Disabled</h2>
<goa-input name="foo" disabled="true" placeholder="Find by name"></goa-input>

<h2>Error state</h2>
<goa-input name="foo" error></goa-input>

<h2>Focus</h2>
<goa-input name="foo"></goa-input>

<h2>Character count</h2>
<goa-input name="firstname" showcounter="true"></goa-input>

<h2>Character count with limit</h2>
<goa-input name="firstname" showcounter="true" maxcharcount="20"></goa-input>
