<div>
  <h1>3637 - Checkbox Table Header Row Height Bug </h1>

  <goab-data-grid keyboardNav="table" keyboardIconPosition="right">
    <goab-table width="100%" mb="xl">
      <thead>
        <tr>
          <th className="goa-table-cell--checkbox"><goab-checkbox name="" text=""></goab-checkbox></th>
          <th>
            <goab-table-sort-header name="name">Name</goab-table-sort-header>
          </th>
          <th>
            <goab-table-sort-header name="status">Status</goab-table-sort-header>
          </th>
          <th>Assigned to</th>
          <th>
            <goab-table-sort-header name="due-date">Due date</goab-table-sort-header>
          </th>
          <th>
            <goab-table-sort-header name="jurisdiction">Jurisdiction</goab-table-sort-header>
          </th>
          <th>File number</th>
          <th>
            <goab-table-sort-header name="priority">Priority</goab-table-sort-header>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </goab-table>
  </goab-data-grid>
</div>