<goa-button id="button" (_click)="openModal()">Open Basic Modal</goa-button>
<goa-modal id="modal" [open]="isOpen" (_close)="closeModal()" closable>
  <div slot="heading">Do you agree?</div>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
</goa-modal>

<goa-button id="button2" (_click)="openModal2()"
  >Open Modal with actions</goa-button
>
<goa-modal id="modal2" [open]="isOpen2">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <div slot="actions">
    <goa-button-group alignment="end">
      <div>Does this have a margin</div>
      <goa-button type="secondary" (_click)="closeModal2()"
        >Secondary</goa-button
      >
      <goa-button type="primary" (_click)="closeModal2()">Primary</goa-button>
    </goa-button-group>
  </div>
  <div slot="heading">Do you agree?</div>
</goa-modal>

<goa-button-group>
  <goa-button type="tertiary" (_click)="showModal('none')">None</goa-button>
  <goa-button type="tertiary" (_click)="showModal('slow')">Slow</goa-button>
  <goa-button type="tertiary" (_click)="showModal('fast')">Fast</goa-button>
</goa-button-group>
<goa-modal
  id="modal3"
  [open]="isOpen3"
  (_close)="closeModal3()"
  closable
  [transition]="transition"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <div slot="heading">Do you agree?</div>
</goa-modal>

<goa-button type="tertiary" (_click)="isOpen4 = true">Route Change</goa-button>
<goa-modal [open]="isOpen4">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <div slot="actions">
    <goa-button-group alignment="end">
      <goa-button type="primary" (_click)="closeModal4()">Primary</goa-button>
    </goa-button-group>
  </div>
  <div slot="heading">Do you agree?</div>
</goa-modal>

<goa-button-group>
  <goa-button (_click)="showCalloutModal('information')"
    >Information Callout</goa-button
  >
  <goa-button (_click)="showCalloutModal('important')"
    >Important Callout</goa-button
  >
  <goa-button (_click)="showCalloutModal('success')"
    >Success Callout</goa-button
  >
  <goa-button (_click)="showCalloutModal('emergency')"
    >Emergency Callout</goa-button
  >
  <goa-button (_click)="showCalloutModal('event')">Event Callout</goa-button>
</goa-button-group>
<goa-modal
  type="callout"
  [open]="isOpen5"
  (_close)="closeModal5()"
  [calloutvariant]="calloutVariant"
  closable
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <div slot="actions">
    <goa-button-group alignment="end">
      <goa-button (_click)="closeModal5()">Secondary</goa-button>
      <goa-button (_click)="closeModal5()">Primary</goa-button>
    </goa-button-group>
  </div>
  <div slot="heading">Do you agree?</div>
</goa-modal>

<goa-button id="button" (_click)="openModal6()">With Actions</goa-button>
<goa-modal id="modal" [open]="isOpen6">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
    obcaecati id molestiae, natus dicta, eaque qui iusto similique, libero
    explicabo eligendi eius laboriosam! Repellendus ducimus officia asperiores.
    Eos, eius numquam.
  </p>
  <goa-form-item label="First name" ml="xs">
    <goa-input name="firstName"></goa-input>
  </goa-form-item>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam.
  </p>
  <div slot="heading">Lorem <b>ipsum</b> dolor <b>sit</b> amet</div>
  <div slot="actions">
    <goa-button-group alignment="end">
      <goa-button (_click)="closeModal6()">Secondary</goa-button>
      <goa-button (_click)="closeModal6()">Primary</goa-button>
    </goa-button-group>
  </div>
</goa-modal>

<goa-button id="button" (_click)="openModal7()">Without Actions</goa-button>
<goa-modal id="modal" [open]="isOpen7" (_close)="closeModal7()" closable>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia obcaecati
    id molestiae, natus dicta, eaque qui iusto similique, libero explicabo
    eligendi eius laboriosam! Repellendus ducimus officia asperiores. Eos, eius
    numquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
    obcaecati id molestiae, natus dicta, eaque qui iusto similique, libero
    explicabo eligendi eius laboriosam! Repellendus ducimus officia asperiores.
    Eos, eius numquam.
  </p>
  <goa-form-item label="First name" ml="xs">
    <goa-input name="firstName"></goa-input>
  </goa-form-item>
  <goa-form-item label="Dropdown" ml="xs">
    <goa-dropdown name="colors" error="true" native="true">
      <goa-dropdown-item value="red" label="Red"></goa-dropdown-item>
      <goa-dropdown-item value="green" label="Green"></goa-dropdown-item>
      <goa-dropdown-item value="blue" label="Blue"></goa-dropdown-item>
    </goa-dropdown>
  </goa-form-item>
  <div slot="heading">Lorem <b>ipsum</b> dolor <b>sit</b> amet</div>
</goa-modal>

<!-- To show scrollbars -->
<div style="height: 100vh"></div>
