<h3>Text</h3>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>

<br />
<h3>Paragraph</h3>
<goa-skeleton type="paragraph"></goa-skeleton>

<br />
<h3>Small text</h3>
<goa-skeleton type="text-small"></goa-skeleton>
<goa-skeleton type="text-small" size="2"></goa-skeleton>
<goa-skeleton type="text-small" size="3"></goa-skeleton>
<goa-skeleton type="text-small" size="4"></goa-skeleton>

<br />
<h3>Cards</h3>
<goa-skeleton type="card"></goa-skeleton>
<goa-skeleton type="card" size="2"></goa-skeleton>
<goa-skeleton type="card" size="3"></goa-skeleton>
<goa-skeleton type="card" size="4"></goa-skeleton>

<br />
<h3>Avatars</h3>
<goa-skeleton type="avatar"></goa-skeleton>
<goa-skeleton type="avatar" size="2"></goa-skeleton>
<goa-skeleton type="avatar" size="3"></goa-skeleton>
<goa-skeleton type="avatar" size="4"></goa-skeleton>

<br />
<h3>Headers</h3>
<goa-skeleton type="header"></goa-skeleton>
<goa-skeleton type="header" size="2"></goa-skeleton>
<goa-skeleton type="header" size="3"></goa-skeleton>
<goa-skeleton type="header" size="4"></goa-skeleton>

<br />
<h3>Thumbnails</h3>
<goa-skeleton type="thumbnail"></goa-skeleton>
<goa-skeleton type="thumbnail" size="2"></goa-skeleton>
<goa-skeleton type="thumbnail" size="3"></goa-skeleton>
<goa-skeleton type="thumbnail" size="4"></goa-skeleton>

<br />
<h3>Profiles</h3>
<goa-skeleton type="profile"></goa-skeleton>
<goa-skeleton type="profile" size="2"></goa-skeleton>
<goa-skeleton type="profile" size="3"></goa-skeleton>
<goa-skeleton type="profile" size="4"></goa-skeleton>
