<h1>Skeleton</h1>

<h2>Text</h2>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>
<goa-skeleton type="text"></goa-skeleton>

<h2>Paragraph</h2>
<goa-skeleton type="paragraph"></goa-skeleton>

<h2>Small text</h2>
<goa-skeleton type="text-small"></goa-skeleton>
<goa-skeleton type="text-small" size="2"></goa-skeleton>
<goa-skeleton type="text-small" size="3"></goa-skeleton>
<goa-skeleton type="text-small" size="4"></goa-skeleton>

<h2>Cards</h2>
<goa-skeleton type="card"></goa-skeleton>
<goa-skeleton type="card" size="2"></goa-skeleton>
<goa-skeleton type="card" size="3"></goa-skeleton>
<goa-skeleton type="card" size="4"></goa-skeleton>

<h2>Avatars</h2>
<goa-skeleton type="avatar"></goa-skeleton>
<goa-skeleton type="avatar" size="2"></goa-skeleton>
<goa-skeleton type="avatar" size="3"></goa-skeleton>
<goa-skeleton type="avatar" size="4"></goa-skeleton>

<h2>Headers</h2>
<goa-skeleton type="header"></goa-skeleton>
<goa-skeleton type="header" size="2"></goa-skeleton>
<goa-skeleton type="header" size="3"></goa-skeleton>
<goa-skeleton type="header" size="4"></goa-skeleton>

<h2>Thumbnails</h2>
<goa-skeleton type="thumbnail"></goa-skeleton>
<goa-skeleton type="thumbnail" size="2"></goa-skeleton>
<goa-skeleton type="thumbnail" size="3"></goa-skeleton>
<goa-skeleton type="thumbnail" size="4"></goa-skeleton>

<h2>Profiles</h2>
<goa-skeleton type="profile"></goa-skeleton>
<goa-skeleton type="profile" size="2"></goa-skeleton>
<goa-skeleton type="profile" size="3"></goa-skeleton>
<goa-skeleton type="profile" size="4"></goa-skeleton>
