name: Pull Request Check

on:
  pull_request:
    branches:
      - main
      - next
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: "24"
      - name: Install npm 11
        run: npm install -g npm@11
      - run: npm ci

      # Run with the target branch as the base.
      - name: Lint
        run: npm run lint

      - name: Build
        run: |
          npx nx affected --target=build --base=origin/${{ github.base_ref }}
          npx nx affected --target=post --base=origin/${{ github.base_ref }}

      - name: Test
        run: |
          if [ -d "./dist" ]; then
            npx playwright install --with-deps
            npm run test:pr
          fi
